/*color variables */

$black: #000000;
$white: #ffffff;
$white2: rgba(255, 255, 255, 0.46);
$brown : #b85a2e;
$black1: #2c2927;
$black2: #474747;
$black3: #827468;
$purple:#d71ebb;

$off-white: #d7c7ba;
$off-white2: #f7f5f3;
$off-white3: #fef7f2;
$off-white4: #a2968c;
$off-white5:#a2968c3d;
$slate:#4a7574;
$light-blue: #effbfc;

