/*color variables */

$white:#fff;
$black:#000;

$primary-color:#004976;
$light-primary:#f8f3e6;
$light-black: #2f37378a;
$light-black1:#565656;
$light-gray:#857d7d61;
$light-gray1:#898989;
$green: #88c425;
$green1: #34a853;
$light-green:#88c425f0;
$orange: #ff9e1b;
$red: #ff5c39;
$red1: #c5221f;

$gray: #ededed;
$gray1: #707372;
$red: #f00;

$white_border_rgba:rgba(255, 255, 255, 0.3);