$primary_fonts: 'PT Sans', sans-serif;
$secondary_fonts: 'Assistant',
sans-serif;
$share_fonts:'Arial',
sans-serif;
@font-face {
	font-family: "Avenir-Medium";
	src: url("../fonts/2090551770be22b09600a40b0b4673b7.eot");
	src: url("../fonts/2090551770be22b09600a40b0b4673b7.eot?#iefix") format("embedded-opentype"), url("../fonts/2090551770be22b09600a40b0b4673b7.woff2") format("woff2"), url("../fonts/2090551770be22b09600a40b0b4673b7.woff") format("woff"), url("../fonts/2090551770be22b09600a40b0b4673b7.ttf") format("truetype"), url("../fonts/2090551770be22b09600a40b0b4673b7.svg#Avenir-Medium") format("svg");
}
