.container{
    max-width: 1062px;
}

.banner{
    width:100%;height: 650px;background-image: url("../images/banner01.jpg");background-size: cover;background-repeat: no-repeat;margin-top: 100px;
    // @include bp(tablet-max){height: 570px;}
    // @include bp(xs-max){height: 500px;margin-top: 72px;}
    // @include bp(xxxs-max){height: 580px;}
    .container{
        .banner-content{
            padding-top: 234px;text-align: center;
            @include bp(tablet-max){padding-top: 184px;}
            @include bp(xs-max){padding-top: 100px;}
            h1{
                font-size: 40.5px;font-weight: bold;color: $white;text-align: center;margin-bottom: 21px;
                @include bp(md-max){font-size: 38px;}
                @include bp(sm-max){font-size: 36px;}
                @include bp(xxs-max){font-size: 34px;}
                @include bp(xxxs-max){font-size: 30px;}
            }
            p{
                color:$white;font-size: 26px;line-height: 31px;background-color: $light-black;text-align: center;padding: 10px 10px 12px 10px;margin-bottom: 31px;
                @include bp(tablet-max){br{display: none;}}  
                @include bp(md-max){font-size: 23px;} 
                @include bp(sm-max){font-size: 21px;}  
                @include bp(xxs-max){font-size: 20px;}           
            }
            .contact-btn{background-color: $white;color:$green;padding: 10px 27px;font-size: 24px;line-height: 30px;font-weight: bold;
                @include bp(sm-max){font-size: 21px;padding: 8px 25px;}
                &:hover{background-color:$light-black1;}
            }
        }
    }
}