footer{
    background-color: $light-black1;padding:14px 0;
    .footer-container{
        max-width: 1198px;margin:0 auto;padding:0 15px;
        .content{display: flex;justify-content: space-between;align-items: center;flex-wrap:wrap;
            ul{
                display: flex;align-items:center;flex-wrap: wrap;
                @include bp(md-max){flex:0 0 100%;max-width: 100%;justify-content: center;}
                @include bp(xs-max){margin-bottom: 20px;}
                li{margin:0 12px;
                    @include bp(tablet-max){margin:0 5px;}
                    @include bp(xs-max){margin:0 15px}
                    a{
                        color:$white;font-size: 15px;padding:13px 0;display: block;
                        @include bp(xs-max){padding: 8px 0;}
                        &:hover,&:focus{color:$green}
                    }
                }
            }
            p{font-size: 14px;color: $white;padding-right: 8px;
                @include bp(md-max){flex:0 0 100%;max-width: 100%;text-align: center;}
                span{
                    @include bp(xxs-max){display: flex;flex-direction: column;align-items: center;
                        &.copyright-text{margin-bottom: 5px;}
                    }
                }
            }
        }
    }

}