.white{
    color: #ffff;
}
.flex{
    display: flex;
    flex-wrap: wrap;
}
.bg-img{
    background-size:cover;
    background-position: center;
    justify-content: center;
    align-items: center;
}
.f48{font-size: 40px;}
.f28{font-size: 28px;}
.f21{font-size: 21px;}
.f15{font-size: 15px;}
.f36{font-size: 36px;}
.blue{color:#44a9c9}
/*===========================================================HEADER===========================================*/
.header{
    background-image: url(../images/banner-img.jpg);
    min-height: 500px;
}
.shadow{
    background-image: url(../images/bg.png);
    min-height: 500px;
}
.menulinks{
    justify-content: space-between;
    position: absolute;
    top: 0;
    left: 0;
    width:100%;
    padding: 20px 0px 10px 0px;
}
.navbar{
    border-bottom: 2px solid white;
    padding-top: 100px;
    margin: 0px 30px 0px 30px;
}
ul li a{
    font-size: 16px;
    padding:20px;
    text-transform:uppercase ;
    font-weight: 500;
}
ul li a:hover{
    color: white;
}
.left-nav{
    width: 70%;
}
.right-nav{
    padding-top: 12px;
}
.links{
    flex: 0 0 40%;
    max-width: 40%;
    align-items: center;
    justify-content: center;
    padding-top: 10px;
}
.login-btn{
    padding: 6px 22px;
    background: transparent;
    border:1px solid white;
    font-size: 14px;
    border-radius: 4px;
}
.login-btn:hover{
    background-color: white;
    color: black;
}
.below-nav{
    flex: 0 0 100%;
    max-width: 100%;
    justify-content: center;
    align-items: center;
    min-height: 500px;
    flex-direction: column;
    padding-top: 80px;
}
h2{ font-weight: 400;}
h2, h3{
    padding: 10px;
}
.first-row{
    border: 2px solid white;
}
.part1, .part2, .part3{
    flex: 0 0 33.33%;
    max-width: 33.33%;
    min-height: 50px;
}
.main .row{
    margin: 0px;
}
.js-example-basic-single{
    border: none;
    background: transparent;
    padding: 14px;
}
.left-row .row{
    width: 700px;
    text-align: center;
    min-height: 60px;
}
.part1, .part2, .part3{
    border-right: 2px solid white;
}
.search button{
    background: #e53b51;
    height: 100%;
    width: 100%;
    border: none;
}
.search{
    width: 150px;
}
.upper-row{
    width:700px;
    justify-content: space-between;
    padding: 14px;
}
.upper{
    flex: 0 0 33.33%;
    max-width: 33.33%;
    text-align: center;
}
.main{
    padding-top: 12px;
}
h3{font-weight: 700;}
/*=========================================================Slider=============================================*/
.below-header{
    width: 96%;
    margin: 0 auto;
}
.slick-next {
    right:25px;
}
.slider img{
    width: 100%;
    height: 350px;
    padding: 10px;
}