// Home banner 
// .img-wrapper{padding-top: 216px;
//     @include bp(tablet-max){padding-top: 175px;}
//     @include bp(sm-max){min-height: 380px; padding-top: 144px;}
//     @include bp(xxs-max){padding-top: 195px;}
// }
.banner{
    background-image: url("../images/home_banner_img.jpg");min-height:570px; background-size: cover;background-repeat: no-repeat;background-position: center;display: flex;align-items: center;
    @include bp(sm-max){min-height: 460px;}
    @include bp(xxs-max){min-height: 360px;}
        .banner-text{ max-width: 400px;
            @include bp(md-max){max-width: 350px;}
            @include bp(sm-max){max-width: 300px;}
            @include bp(xxxs-max){max-width: 190px;}
            h1{color: $black1;padding-bottom:30px;font-weight: 700;line-height: 1.3;
              @include bp(md-max){font-size: 40px;}
              @include bp(sm-max){font-size: 32px;padding-bottom: 15px;line-height: 1.3;}
              @include bp(xxxs-max){font-size: 28px;}
            }
            p{color: $black1;font-size: 22.5px;font-weight:700;padding: 30px 0 45px 0;line-height: 1.3;
                @include bp(sm-max){font-size: 20px;padding-top: 15px;line-height: 1.3;}
                @include bp(xxxs-max){font-size: 16.5px;}
            }
            .watch{
              .watch-btn{border-radius: 5px;border: solid 2px $brown;background-color: $white;padding: 12px 42px;box-shadow: 0px 7px 0px 0px $off-white;text-align:center;text-decoration: none;color:$brown;font-weight: 700;
                @include bp(sm-max){padding: 8px 25px;font-size: 16px;}
                &:hover{border: 1px solid white; background-color: $brown;color: $white;box-shadow: 0px 0px 0px 0px;}
              }
                .watch-modal{
                    position: fixed;top:0;left: 0;width:100%;height: 100%;display: none;z-index: 9999;
                    .overlay-modal{width: 100%;height: 100%;background-color: rgba(0, 0, 0, 0.456);display: flex;padding-top: 150px;justify-content: center;align-items: flex-start;}
                    .video{
                        position: relative;
                        @include bp(sm-max){padding: 0 30px;}
                        .close{position: absolute;top:-40px;right:0;font-size: 23px;color: $white;
                            &:hover{cursor: pointer;}
                        @include bp(sm-max){right: 30px;}
                        }
                    }
                }
           
           }
        }
    }
   
// Get Help banner 
.help-banner{
    width: 100%;background-image: url("../images/get-help-banner.jpg");background-size: cover;background-repeat: no-repeat;background-position: center;
    .container{
        .content{max-width: 592px;padding:123px 0 83px 0;
            @include bp(sm-max){padding: 60px 0;}
            .text-div{
                .text{font-size: 29.5px;font-weight: bold;color: $off-white3;line-height: 33px;margin-bottom: 35px;
                @include bp(sm-max){font-size: 25px; margin-bottom: 28px;}
                @include bp(xxs-max){font-size: 20px;margin-bottom:20px;}
                }
                .text-call{color: $off-white3;margin-bottom: 118px; line-height: 64px;
                    @include bp(md-max){margin-bottom: 56px;}
                    @include bp(sm-max){margin-bottom: 40px;line-height: 42px;}
                    @include bp(xxs-max){margin-bottom:30px;line-height: 38px;}
                }
            }  
            .two-block{
                display: flex;flex-wrap: wrap;margin:0 -18px;
                .block{
                    max-width: 50%;flex:0 0 50%;padding:0 18px;
                    @include bp(xxs-max){flex: 0 0 100%; max-width: 100%;margin-bottom: 20px;}
                    .inner{padding-top: 34px;width: 100%;display: flex;justify-content: space-between;align-items: flex-end;border-top: 1px solid $white;
                        .text{
                            font-size: 21px;font-weight: bold;color: $white;
                            @include bp(sm-max){font-size: 18.5px;}
                            span{border-bottom: 1px solid $white;line-height: 28px;}
                        }
                        .share-img{width: 22px;height: 22px;}
                    }                    
                }
            }          
        }
    }
}


//Give Help banner
.givehelp-banner{
    background-image: url("../images/give-help-banner.jpg");background-size: cover;background-position: center;
    .content{
        padding:47px 0 68px 0;
        h3{color: $white;text-align: center;max-width: 688px; margin: 0 auto;margin-bottom: 58px;}
        .row{
            display: flex;flex-wrap: wrap;justify-content:center;
            .col-3{flex:0 0 25%;max-width: 25%;padding:0 23px;position: relative;z-index: 2;margin-bottom: 50px;
                @include bp(md-max){padding: 0 46px;}
                @include bp(large-max){flex: 23.5%; max-width: 23.5%;}
                @include bp(md-max){flex: 0 0 50%; max-width: 50%;}
                @include bp(xs-max){flex: 0 0 100%; max-width: 100%;}
                .card{height: 268px;
                    @include bp(large-max){height: 320px;}
                    @include bp(tablet-max){height: 290px;}
                    @include bp(md-max){height: 264px;}
                    @include bp(xs-max){height: 230px;}
                    ::before{content: "";position: absolute;top:-18px;left: 5px;background-color:$black3;width: 200px;height: 200px;z-index: -1;border-radius: 6px;
                    @include bp(tablet-max){width: 180px;}
                        @include bp(md-max){left:27px;}
                    }
                    background-color: $off-white2;border-radius: 6px;padding: 36px 36px 34px 30px;
                    @include bp(xs-max){padding: 20px;}
                    h3{font-size: 72px;font-weight: bold;color: $brown;margin-bottom: 31px;line-height: 58px;
                    @include bp(tablet-max){font-size:56px; margin-bottom:18px;}
                    @include bp(md-max){margin-bottom:26px;}
                    @include bp(xs-max){font-size: 46px;margin-bottom: 16px;}
                    }
                    .text{color: $black1;font-size: 16px;line-height: 24px;min-height: 96px;
                        @include bp(tablet-max){font-size:14.5px;line-height: 21px;}
                    }
                }                
            }
        }
        .link-text{
            color: $white2;font-size:14px;display: flex;justify-content: center;
            @include bp(sm-max){font-size: 12px;}
            @include bp(xs-max){flex-direction: column;text-align: center;}
            .link{
                a{font-size: 14px;color: $white2;border-bottom: 1px solid $white2;
                @include bp(sm-max){font-size: 12px;}
                &:hover{color: $white;}
            }
            &:first-child{margin-bottom: 10px;}
        }
            span{margin: 0 10px;
            @include bp(sm-max){margin: 0 5px;}
            @include bp(xs-max){display: none;}
            }
        }
    }    
}

// Get Involved Banner 
.get-involve-banner{
    background-image: url("../images/get-involved-banner.jpg");background-position: center;background-size: cover;background-repeat: no-repeat;
    .container{
        .content{max-width: 495px; margin: 0 auto;
            padding: 40px 0 92px;text-align: center;
        }
    }
}

//community resource banner
.resource-banner{
    background-image: url("../images/community-resource-banner.jpg");background-position: center;background-size: cover;background-repeat: no-repeat;min-height:574px;display:flex;align-items:center;
    @include bp(tablet-max){min-height: 380px;}
    @include bp(xs-max){min-height: 280px;}
    .banner-text{max-width: 390px;
        @include bp(xs-max){max-width: 280px;}
        h3{color:$white;margin-bottom: 26px;
        @include bp(xs-max){margin-bottom: 15px;}
        }
        p{color: $white;font-size: 21px;line-height: 28px;
            @include bp(sm-max){font-size: 18px; line-height: 24px;}
            @include bp(xs-max){font-size: 15px; line-height: 21px;}
        }
    }
}

//Resource-1 banner
.resource-1-banner{background-color: $slate; min-height:400px;display:flex;align-items:center;
    @include bp(xxs-max){min-height: 340px;}
    .banner-text{max-width: 660px;margin:0 auto;text-align:center;
       .bold-text{color: $white;;padding-bottom: 15px;}
       .small-text{color: $white;padding-top: 15px;}
    }
}
.banner-below-text{background-color: $black1;
   .banner-text{display: flex;justify-content:flex-end;align-items:center;padding:24px 30px 28px 30px;
    @include bp(xxs-max){padding: 20px 15px; justify-content: center; text-align: center;}
    @include bp(xxxs-max){flex-direction: column;}
       p{color: $white;margin-right: 32px;
    @include bp(sm-max){font-size: 14px;}
    @include bp(xxs-max){margin-right: 20px; font-size: 12.5px;}
    @include bp(xxxs-max){margin-bottom: 15px;}
    }
       .email-btn{color: $white;background-color: $brown;
        @include bp(sm-max){min-height: 32px; padding: 10px 20px; font-size: 14px;}
        @include bp(xxs-max){font-size: 12.5px;padding: 8px 14px;}
          &:hover{color: $brown;background-color: $off-white2;}
        }
    }
}

//Resource-2 banner
.resource-2-banner{
    background-image: url("../images/resources-banner.jpg");background-position: center;background-size: cover;background-repeat: no-repeat;min-height:400px;display:flex;align-items:center;
   .banner-text{max-width: 475px;}
}
.resource-2-text{
    .banner-text{justify-content: center;padding: 24px 0;}
}

//what are we doing banner
.work-banner{background-color: $black3;
     .banner-text{max-width: 794px;}
}

//Community headerimages banner
.header-images-banner{background-image: url("../images/community_img_1.jpg");min-height: 574px;
    @include bp(tablet-max){min-height: 440px;}
    @include bp(xxs-max){min-height: 260px;}
       .banner-text{max-width: 264px;
        @include bp(xxs-max){max-width:188px;background:rgb(255 255 255 / 42%);text-align: center;}
           h3{margin-bottom: 24px;
            @include bp(xs-max){margin-bottom:15px;}
        }
           p{padding: 0;font-weight: 600; font-size: 21px;
            @include bp(sm-max){font-size: 18px; line-height: 24px;}
            @include bp(xs-max){font-size: 15px; line-height: 21px;}
        }
       }
}