*{
    font-family: 'Public Sans', sans-serif;
}
.container{width: 1222px;margin: 0 auto;padding: 0 15px;max-width: 100%;
}

section, footer div{overflow: hidden;}
.banner-below-text{overflow: hidden;}
.resource-1-block{overflow:visible;}


/*=====================================HOME PAGE==============================================*/

/*------------------------------SLIDER-SECTION-----------------------------*/
.slider-block{padding:100px 0 50px 0;
    @include bp(sm-max){padding: 50px 0 30px 0;}
    .main-slide{@include bp(xxlg-max){padding: 0 30px;}
               @include bp(xxxs-max){padding: 0 15px;}
    .slider{margin: 0 -10px;
            .slick-slide{margin: 0 15px;
               
              .slide{position: relative;
                  .image{margin-bottom: 22px;overflow: hidden;
                      .fpo-text{position: absolute; top:20px;left: 17px;color:$purple;font-size: 27px;font-weight: 800;}
                      i{height: 200px;
                        img{width: 100%;@include transition(all 0.3s linear);}
                    }
                       &:hover{
                           img{transform: scale(1.1);}                           
                        }
                  }
                  .sub-content{
                      a{font-size:20px;line-height:1.3;color:$black1;font-weight: 700;text-decoration: underline;
                      &:hover{color: $brown;}
                      }
                  }
              }
            }
            .slick-next{background-image: url("../images/carat-copy.png");background-repeat: no-repeat;background-size: 14px;width: 30px;height: 30px;top:38%;
            @include bp(sm-max){right: -26px;}
            @include bp(xxxs-max){right: -20px;}
            }
            .slick-prev{background-image: url("../images/carat-copy.png");background-repeat: no-repeat;background-size: 14px;width: 30px;height: 30px;transform: rotate(180deg);top:30%;
                @include bp(sm-max){left: -26px;top: 33%;}
                @include bp(xxxs-max){left: -20px;}
            }
        }
}
}


/*---------------------------ABOUT US----------------------------------*/
.info-block{padding:50px 0;
    @include bp(sm-max){padding: 30px 0;}
    .content{background-color: $brown;display: flex;padding:50px;border-radius:10px;box-shadow: 0px 12px 0px 0px $off-white;margin: 0 -11px;
        @include bp(md-max){padding:36px;}
        @include bp(sm-max){flex-direction: column; padding:20px;}
      .left-block{padding:0 11px;flex:0 0 50%; max-width: 50%;
        @include bp(sm-max){flex: 0 0 100%; max-width: 100%;padding:15px 0;}
        h5{color:$white;font-size: 16px;margin-bottom: 80px;
        @include bp(sm-max){font-size: 14px;margin-bottom: 40px;}
        }
        h2{color: $white;
            span{display:block;
            @include bp(sm-max){display: contents;}
            }
        }
      }
      .right-block{flex:0 0 50%; max-width: 50%; padding: 0 11px;
        @include bp(sm-max){flex: 0 0 100%; max-width: 100%; padding: 10px 0;}
       p{color:$white; }
      }
    }
}

.number-section{padding: 50px 0 0 0;
    @include bp(sm-max){padding: 30px 0 0 0;}
    .number-content{
    background-color: $off-white2;
    .container{
        h5{font-weight: bold;text-align: center;padding:45px 0 42px 0; font-size: 16px;}
        .content{
            margin:0 -10px;display:flex;flex-wrap: wrap;padding:43px 0 45px 0;
            @include bp(xs-max){flex-direction: column;}
            .col-3{
                padding:0 25px;flex:0 0 25%;max-width:25%; margin-bottom: 45px;position: relative; z-index: 2;  
                @include bp(lg-max){flex: 0 0 50%; max-width: 50%;margin-bottom: 76px;}
                @include bp(tablet-max){margin-bottom: 88px;} 
                @include bp(sm-max){margin-bottom: 70px;} 
                @include bp(xs-max){flex: 0 0 100%; max-width: 100%;}           
                .col{
                    background-color: $white;padding: 34px;border-radius: 6px;
                    @include bp(sm-max){padding: 20px 15px;}
                    &::before{content: "";position: absolute;top:-19px;left: 6px;width:200px;height: 200px;background-color: $black3;z-index: -1;border-radius: 6px;
                    }
                    h2{font-size: 72px;font-weight: bold;color: $brown;line-height: 55px;margin-bottom: 31px;
                     @include bp(md-max){font-size: 54px;margin-bottom: 22px;}
                     @include bp(sm-max){font-size: 40px;}
                    }
                    .text{font-size: 16px;line-height: 24px;color: $black1;margin-bottom: 42px;min-height: 120px; padding-right: 10px;
                    @include bp(xxlg-max){min-height: 150px;}
                    @include bp(lg-max){min-height: 80px;}
                     @include bp(md-max){font-size: 15px;margin-bottom: 22px;min-height: 100px;}
                     @include bp(sm-max){min-height: 70px;font-size: 13.5px;min-height: 120px;}
                    }
                    .more-link{font-size: 18px;color: $black1;border-bottom: 2px solid $black1;font-weight: bold;line-height: 18px;
                    @include bp(sm-max){font-size: 15px;}
                    }
                }
                .last-col{padding-right: 27px;}
            }
        }
    }
}
}



/*============================================ABOUT US PAGE============================*/

/*-------------------Facing suicide section---------------------*/
.facing-suicide-block{background-color: $off-white2;
    .content-block{display: flex;align-items:center;padding:27px 0;
        @include bp(tablet-max){padding: 27px 0;}
        @include bp(sm-max){flex-direction: column;}
       .left-block{flex: 0 0 50%; max-width: 50%;padding:0 10px;
        @include bp(sm-max){flex: 0 0 100%; max-width: 100%; padding-right: 0;text-align: center;margin-bottom: 20px;}
            h2{padding-right: 124px;padding-bottom:20px;
                span{display: inline-block;}
            @include bp(md-max){padding: 0 0 10px 0;}
            }
            p{padding-top: 20px;
                @include bp(xs-max){padding-top: 0;}
            }
            .brown-text{color: $brown;text-decoration: underline;cursor: pointer;
              &:hover{color: $black1;}
            }
    }
       .right-block{flex: 0 0 50%; max-width: 50%;display:flex;justify-content:flex-end;padding: 0 10px;
        @include bp(sm-max){flex: 0 0 100%; max-width: 100%; justify-content: center;margin-top: 20px;}
           i{width: 367px;height: 402px;
            @include bp(xxxs-max){height: 340px;}
            img{width: 100%;}
        }
        }
    }
}

/*-------------------Goal section---------------------*/
.goal-section{
    padding:43px 0 119px 0;
    @include bp(xs-max){padding: 40px 0;}
    .container{
        .content{max-width: 666px;
            h3{margin-bottom: 35px;
                @include bp(md-max){font-size: 30px;}
                @include bp(xs-max){font-size: 28px;}
            }
            .main-text{margin-bottom: 33px;
            }
            ol{list-style-type: style; padding-left:22px;
                li{font-size: 18px;color: $black1;line-height: 28px;
                    @include bp(md-max){font-size: 16px;}
                    @include bp(xs-max){font-size: 15px;line-height: 24px;}
                &::marker{color: $brown;font-weight: bold;}
                }
            }
        }        
    }
    
}

/*=====================================GET HELP PAGE=================================*/

/*----------------Thought section----------------*/
.thought-section{padding: 85px 0 40px 0;
    @include bp(sm-max){padding: 40px 0 30px 0;}
    .container{
        .content{
            h3{text-align: center;margin-bottom: 73px;
            @include bp(sm-max){margin-bottom: 50px;}
            }
            .row-block{
                display: flex;flex-wrap: wrap;margin:0 -40px;
                .col-3{
                    flex:0 0 25%;max-width: 25%;padding:0 40px;margin-bottom: 40px;
                    @include bp(tablet-max){flex: 0 0 50%; max-width: 50%; margin-bottom: 30px;}
                    @include bp(xs-max){flex: 0 0 100%; max-width: 100%; margin-bottom: 20px;}
                    .card{
                        .image-wrap{
                            min-height: 112px;display: flex;justify-content: center;align-items: center;margin-bottom: 34px;
                            @include bp(xs-max){margin-bottom: 16px;}
                        }
                        .card-content{
                            h4{text-align: center;font-size: 21px;margin-bottom: 23px;font-weight: bold;color: $black1;
                                @include bp(xs-max){font-size: 18px; margin-bottom: 0;}
                            }
                            .text{
                                text-align: center; line-height: 24px;min-height: 95px; display: flex;flex-direction: column;align-items: center; justify-content: center;font-size: 16px;color: $black1;
                                @include bp(xs-max){min-height: 80px;}
                                p{
                                    .line{border-bottom: 1px solid $black1;color: $black1;}
                                }
                            }
                        }                        
                    }
                }
            }
        }        
    }
}
/*--------------Lifeline call block---------------*/
.lifeline-block{padding: 40px 0;
    @include bp(sm-max){padding:30px 0 ;}
    .lifeline-wrapper{background-color:$black1;
   .content{max-width:678px;margin: 0 auto;padding: 56px 0; text-align: center;
    @include bp(tablet-max){padding: 34px 0;}
    @include bp(xxs-max){padding: 20px 0;}
       p, a{color: $white; font-size: 21px; line-height: 32px;
            @include bp(md-max){font-size: 16px; line-height: 24px;}
            @include bp(xs-max){font-size: 15px;}
        }
   }
}
}

/*---------------------get-help section------------*/
.get-help-block{
    .content{padding:92px 70px;
        @include bp(md-max){padding: 50px 30px;}
        @include bp(xs-max){padding: 15px 30px ;}
       .right-block{
           p{margin-bottom:42px;
        @include bp(sm-max){margin-bottom: 24px}}
         a{color: $white; font-size:18px;text-decoration: underline;font-weight: 700;line-height:1.3;
            &:hover{text-decoration: none;}
            @include bp(sm-max){font-size: 15px;}
        }
    }
}
    }

/*-------------Story block--------------*/
.story-block{padding: 40px 0;
    @include bp(sm-max){padding:30px 0 ;}
    .story-content{background-color: $off-white2;position: relative;
     .content{display: flex;align-items:center; 
        @include bp(sm-max){flex-wrap: wrap;}
        .left-block{ flex: 0 0 50%; max-width: 50%;
            @include bp(sm-max){flex: 0 0 100%; max-width: 100%; margin-bottom: 15px;}
           .image{min-height: 450px;
            @include bp(sm-max){min-height: 300px;margin:  0 -15px;}
            @include bp(xxs-max){min-height: 250px;}
            @include bp(xxxs-max){min-height: 200px;}
            img{position: absolute;top: 0; bottom: 0; left: 0; object-fit: cover;
            @include bp(sm-max){position: static;}
            }
           }
           span{position: absolute; top:60px;left:60px;color:$purple;font-size: 27px;font-weight: 800;}
        }
        .right-block{flex: 0 0 50%; max-width: 50%;padding-left:60px;
            @include bp(sm-max){flex: 0 0 100%; max-width: 100%;padding-left: 0;}
            .right-content{max-width: 429px; margin: 0 auto;
                @include bp(sm-max){max-width: 700px;}
            h2{font-size: 36px;font-weight: 700;line-height: 42px;margin-bottom: 36px;
            @include bp(sm-max){font-size: 28px; margin-bottom: 15px;}
            @include bp(xs-max){font-size: 24px;line-height: 30px;}
            }
            .brown-text{font-weight: 700;}
        }
        }
    }

     }
}


/*----------------support section----------------*/

.support-block{padding-top: 40px;
    @include bp(sm-max){padding:30px 0 0 0 ;}
    .support-content{background-color: $off-white2;
    .content{display: flex;align-items:center;padding:48px 0 20px 0;
        @include bp(sm-max){flex-direction: column; padding-bottom: 34px;}
        .left-block{flex: 0 0 40%;max-width: 40%;
            @include bp(tablet-max){flex: 0 0 55%; max-width: 55%;}
            @include bp(sm-max){flex: 0 0 100%; max-width: 100%;padding-right: 0;margin-bottom: 15px;}
            .text-block{ max-width: 330px;
                @include bp(sm-max){max-width: 100%;}
            .point1{ margin-bottom: 36px;
            @include bp(sm-max){margin-bottom:26px;}
            span{display:block;
                @include bp(sm-max){display: contents;}
            }
            }
            .point2{font-size: 16px;line-height: 21px;color: $black1; margin-bottom: 50px;
                @include bp(sm-max){margin-bottom: 30px;}
            }
        }
            .links-block{display: flex;justify-content:space-between; max-width: 380px;
                @include bp(xxxs-max){flex-direction: column; align-items: center;text-align:center;}
                .block-1{display: flex;flex-direction: column;}
                .block-2{display: flex;flex-direction: column;}
                .brown-text{font-size: 16px;margin-bottom:18px; font-weight: 700;
                 }
                }
            }

        }
        .right-block{flex: 0 0 60%;max-width: 60%;
            @include bp(tablet-max){flex: 0 0 45%; max-width: 45%;}
            @include bp(sm-max){flex: 0 0 100%; max-width: 100%;margin-top: 15px;}
            .slick-dotted.slick-slider{margin-bottom: 0;}
            .slider-2{
                .slick-slide{padding: 0 15px;
                    .slide{
                        .image{
                            img{width: 280px;height: 250px;
                            @include bp(xxs-max){width:192px;height:180px;}
                            }
                        }
                    }
                }
            }
        }
    }
}
/*==================================GIVE HELP PAGE=============================*/
/*----------------community section--------------*/
.community-section{
    background-color: $black1;
    .inner-container{
        max-width: 913px;margin:0 auto;padding: 0 15px;
        .content{padding:56px 0 68px 0;
            @include bp(xs-max){padding: 30px 0;}
            h4{font-size: 21px;font-weight: bold;text-align: center;color: $white;margin-bottom: 48px;
            @include bp(sm-max){font-size: 18px; line-height: 26px;}
            }
            .row{
                display: flex;flex-wrap: wrap;margin:0 -15px;
                @include bp(md-max){justify-content: center;text-align:center;}
                .col-4{
                    flex:0 0 39%;max-width: 39%;padding:0 15px;
                    @include bp(md-max){flex: 34%; max-width: 34%;}
                    @include bp(xxs-max){flex: 0 0 100%; max-width: 100%; margin-bottom: 15px;}
                    &.col3{flex:0 0 22%;max-width: 22%;
                        @include bp(md-max){flex: 32%; max-width: 32%;}
                        @include bp(xxs-max){flex: 0 0 100%; max-width: 100%;}
                    }
                    .link-text{
                        .link{color: $white;border-bottom: 1px solid $white;font-size: 18px;margin-bottom: 22px;display: inline-block;
                            @include bp(sm-max){font-size: 15px;}
                            @include bp(xs-max){font-size: 12.5px;margin-bottom: 15px;}
                            &:hover{color: $black3;border-bottom: 1px solid $black3;}
                            &:last-child{margin:0}
                        } 
                    }                                                         
                }
            }
        }   
    }
}

/*-------------------Help us----------------------*/
.helpus-section{padding-bottom: 50px;
    @include bp(sm-max){padding-bottom: 30px;}
    .help-us-block{
    background-color: $off-white2;
    .container{
        .content{
            display: flex;flex-wrap: wrap;margin:0 -15px;padding:93px 0 103px;
            @include bp(sm-max){padding: 50px 0;}
            @include bp(xxs-max){padding: 20px 0;}
            .block{                
                &.left-block{
                    flex:0 0 48%;max-width: 48%;padding:0 15px;
                    @include bp(sm-max){flex: 0 0 100%; max-width: 100%;}
                    h3{font-size: 36px;color: $black1;font-weight: bold;line-height: 42px;max-width: 434px;
                    @include bp(md-max){font-size: 30px;line-height: 38px;}
                    @include bp(sm-max){max-width: 100%; font-size: 28px;margin-bottom: 30px;}
                    @include bp(xxs-max){font-size: 25px; line-height: 30px;}
                    }
                }
                &.right-block{
                    flex:0 0 52%;max-width: 52%;padding:0 15px;
                    @include bp(sm-max){flex: 0 0 100%; max-width: 100%;}
                    .tabs {
                        border-radius: 5px 5px 5px 5px;
                    }
                    ul {
                        @include bp(large-max){display: flex; overflow: auto; white-space: nowrap;padding-bottom: 16px;}
                        @include bp(sm-max){justify-content: space-between;}
                        &#tabs-nav{
                            list-style: none;
                            margin: 0 0 43px 0;
                            overflow: auto;
                            li{float: left;font-weight: bold;padding: 0 13px 9px 13px;  
                                &:first-child{padding-left: 0;}
                                &:last-child{padding-right: 0;}                              
                                a{
                                    color: $black1;font-size: 18px;font-weight: bold;
                                    @include bp(sm-max){font-size: 16px;}
                                }
                                &:hover{
                                    a{color: $black3;}
                                }
                                &.active{
                                    border-bottom: 4px solid $brown;border-radius: 3px;                                   
                                }
                            }
                        }                        
                    }
                    #tabs-content{
                        .tab-content {
                            .text-content{
                                .text{
                                    font-size: 16px;line-height: 24px;color: $black1;
                                    @include bp(xs-max){font-size: 14.5px;}
                                    a{border-bottom: 1px solid $black1;color: $black1;font-weight: bold;
                                      
                                    }
                                    p{font-size: 16px;}
                                }
                            }
                        }
                    }                    
                }
            }
        }
    }
}
}
/*---------------------Prevention block------------------*/
.prevention-block{padding:50px 0;
    @include bp(sm-max){padding:30px 0;}
    .content-block{max-width: 1000px; margin: 0 auto;
        .main-text{text-align: center;padding-bottom: 64px;
            @include bp(sm-max){font-size: 28px;}
            @include bp(xs-max){font-size: 24px;}
          span{display: inline-block;
        @include bp(xs-max){display: contents;}
        }
        }
        .list-block{display: flex;justify-content:space-between;
            @include bp(xs-max){flex-direction: column-reverse; margin: 0 -15px;}
          .left-block{flex: 0 0 50%;max-width: 50%; display: flex; justify-content: center; padding: 0 15px;
            @include bp(xs-max){flex: 0 0 100%; max-width: 100%;}
            .list{padding: 30px 0;
                @include bp(tablet-max){padding: 0;}
                ol{padding-left: 36px; max-width: 382px;
                    @include bp(tablet-max){max-width: 428px;}
                    @include bp(xs-max){max-width: 100%;}
                li{
                    font-size: 18px; color: $black1; line-height: 24px; counter-increment: list;list-style-type: none;position: relative;margin-bottom:23px;
                    @include bp(tablet-max){font-size: 16px; margin-bottom: 16px;}
                    @include bp(sm-max){font-size: 14px;line-height: 20px;}
                  &:after{color: $white;content: counter(list);left: -32px;position: absolute;text-align: right;background-color: $brown;height: 23px;
                     width: 23px; text-align: center; border-radius: 15px; top: 2px;font-size: 16px;font-weight: 600;
                     @include bp(tablet-max){font-size: 13px;}
                     @include bp(sm-max){font-size: 12px;}
                     @include bp(xs-max){width: 21px; height: 21px; top: 0;}
                    }
                p{margin-left: 28px;
                @include bp(tablet-max){margin-left: 12px;}
                }  
                }
                }
                }
            }
        }
          .right-block{flex: 0 0 50%;max-width: 50%;display:flex;justify-content:center;padding: 0 15px;margin-bottom: 24px;
            @include bp(xs-max){flex: 0 0 100%; max-width: 100%;}
             i{
                 img{width: 447px;height: 489px;
                @include bp(tablet-max){width: 400px; height: 440px;}
                @include bp(sm-max){width: 380px; height: 350px;}
                @include bp(xs-max){width: 500px; height: 400px;}
                }
             }
          }
        }    
    }

.survival-block{padding-bottom: 0;
.content{
    padding-bottom: 0px;
}
}

/*=======================GET INVOLVED PAGE=========================*/

/*------------------product section-----------------*/
.product-section{background-color: $off-white2;
    .container{
        .content{
            display: flex;flex-wrap: wrap;padding: 50px 0;
            @include bp(xs-max){padding: 26px 0;}
            .block{
                flex:0 0 50%;max-width: 50%;display: flex;flex-direction: column;
                @include bp(lg-max){align-items: center;text-align: center;}
                @include bp(sm-max){flex: 0 0 100%; max-width: 100%; 
                &:first-child{margin-bottom: 25px;}
                }
                p{margin-bottom: 25px;
                    @include bp(xs-max){margin-bottom: 15px;}
                    &:last-child{margin-bottom: 0;}
                    a{font-size: 21px;font-weight: bold;color: $brown;border-bottom: 1px solid $brown;line-height: 32px;
                        @include bp(xs-max){font-size: 16px;}
                        &:hover{color: $black3;border-bottom: 1px solid $black3;}
                    }
                }                
            }
        }
    }
}

/*------------------email section-----------------*/
.email::placeholder{color: $black3;font-size: 18px;
    @include bp(xs-max){font-size: 15px;}
}
.email::-moz-placeholder{color: $black3;font-size: 18px;
    @include bp(xs-max){font-size: 15px;}
}
.email::-webkit-input-placeholder{color: $black3;font-size: 18px;
    @include bp(xs-max){font-size: 15px;}
}
.email::-o-placeholder{color: $black3;font-size: 18px;
    @include bp(xs-max){font-size: 15px;}
}

.email-section{background-color: $black1;
    .container{
        .content{
            max-width: 733px;margin: 0 auto;padding:40px 0 58px;
            p{color: $white;font-weight: bold;font-size: 21px;line-height: 32px;text-align: center;margin-bottom: 46px;
                @include bp(xs-max){font-size: 16px; line-height: 24px; margin-bottom: 36px;}
            }
            .search-block{
                display: flex;flex-wrap: no-wrap;
                @include bp(tablet-max){justify-content: center;}
                input{padding: 17px 25px 17px;color: $black3;width: 478px;border-radius: 6px;font-size: 18px;box-shadow: 0 5px 0 0 $off-white;border: none;margin-right: 29px;
                    @include bp(sm-max){flex: 0 0 60%; max-width: 60%;}
                    @include bp(xs-max){ height: 40px; flex: 0 0 55%; max-width: 55%;padding: 17px 11px 17px;margin-right:20px;}
                }
                .submit-btn{color: $white;padding: 19px 48px 20px;background-color: $brown;
                    @include bp(xs-max){min-height: 30px; padding: 12px 24px 9px; font-size: 15px;}
                    &:hover{background-color: $white;color: $brown;}
                }
            }
        }
    }
}

/*------------------calander section-----------------*/
.calander-section{background-color: $off-white2;
    .container{
        .content{
            display: flex;flex-wrap: wrap;margin:0 -15px;padding-top: 47px;
            @include bp(xs-max){flex-direction: column;}
            .block{
                flex:0 0 50%;max-width: 50%;padding:0 15px;
                @include bp(xs-max){flex: 0 0 100%; max-width: 100%;}
                &.calander{ display: flex; justify-content: center;
                    em{max-width: 390px;height: 456px;
                    @include bp(md-max){width: 340px; height: 390px;}
                    @include bp(sm-max){width: 280px; height: 300px;}
                    @include bp(xs-max){margin-bottom: 20px;}
                    }
                }
                &.event{
                    display: flex;align-items: center; justify-content: center;
                    .text-content{
                        max-width: 377px;
                        @include bp(xs-max){max-width: 100%; text-align: center;}
                        h2{font-size: 36px;line-height: 42px;color: $black1;margin-bottom: 39px;font-weight: bold;
                        @include bp(md-max){font-size: 30px;}
                        @include bp(sm-max){font-size: 26px;}
                        @include bp(xs-max){font-size: 21px; line-height: 30px; margin-bottom: 20px;}
                        }
                        .calander-btn{color: $brown;border: 2px solid $brown;background-color: $white;padding: 18px 29px 17px 31px;display: inline-block;
                           @include bp(sm-max){padding:10px 16px; font-size: 15px; min-height: 34px;}
                            &:hover{color: $white;background-color: $brown;}
                        }
                    }
                }
            }
        }
    }

}

/*----------------peer support-----------------*/
.peer-support{padding: 50px 0;
    @include bp(md-max){padding: 20px 0;}
    .support-content{background-color: transparent;
        .content{
            .left-block{
                .text-block{
                    max-width: 356px;
                    @include bp(sm-max){max-width: 100%;}
                }
            }
        }
    }
}

/*---------------safety block---------------*/
.safety-block{
    .content{
        .right-block{
            ul{line-height: 28px;position: relative;
                li{color: $white;font-size: 18px;padding-left:16px;padding-bottom:6px;
                &:after{content: "";position: absolute;width: 5px;height: 5px;background-color: $white;left:2px;top: 11px;border-radius: 5px;}  
                }   
                a{font-weight: normal;}
                .phone-num{text-decoration: none;}        
            }
            p{font-size: 18px;padding-bottom:6px}
        }
    }
}
/*--------------prevention block---------------*/
.prevention-block2{padding:60px 0;
    .content-block{
        .main-text{padding-bottom: 64px; max-width: 550px; margin: 0 auto;}
        .list-block{
            .left-block{flex: 0 0 50%;max-width:50%; align-items: center;
                @include bp(xs-max){flex: 0 0 100%; max-width: 100%;}
            .list{
                .text{ margin-bottom: 20px;padding-left: 64px;
                @include bp(tablet-max){font-size: 16px; padding-left: 49px;}
                @include bp(sm-max){font-size: 14px;}
                }
                a{text-decoration: underline; color: $black1;}
            }
            }
            .right-block{flex: 0 0 50%;max-width: 50%; align-items: center;
                @include bp(xs-max){flex: 0 0 100%; max-width: 100%;}
           }
        }

    }
}

/*-----------------learn more section----------*/
.learn-more-block{background-color: $off-white2;
    .content-block{max-width: 1000px;margin: 0 auto;padding:54px 0 45px 0;
        @include bp(xs-max){padding: 20px 0;}
        p{text-align: center;font-size: 24px;color: $black1;font-weight: 600;
        @include bp(xs-max){font-size: 14px;}
        }
        a{color: $black1;text-decoration: underline;
         &:hover{text-decoration: none;}
        }
    }
}

/*==========================COMMUNITY RESOURCE=========================*/
/*----------------------resource cards------------------*/
.resource-block{padding: 34px 0 43px 0;
    @include bp(sm-max){padding-bottom: 20px;}
    .resource-container{max-width: 1512px; padding: 0 20px; margin: 0 auto;
        
        @include bp(md-max){padding: 0 15px;}
        
        .content-block{display: flex;flex-wrap:wrap;margin: 0 -15px;
            @include bp(xs-max){margin: 0;}
            @include bp(xlg-max){justify-content: center;}
            .card{margin: 0 15px 30px 15px;background-color: #effbfc;flex: 0 0 22.9%;max-width:22.9%;
                @include bp(xlg-max){flex: 0 0 22.3%; max-width: 22.3%;}
                @include bp(lg-max){flex: 0 0 46%; max-width: 46%;}
                @include bp(sm-max){margin: 0 10px 20px 10px;}
                @include bp(xs-max){flex: 0 0 100%; max-width: 100%;}
                .content{padding:28px 28px 25px 28px;border-radius:6px;
                 h5{margin-bottom: 33px;
                    @include bp(md-max){margin-bottom:20px;}
                }
              h4{text-decoration: underline;margin-top: 33px;margin-bottom: 21px;
                @include bp(md-max){margin:16px 0;}
            }
              p{font-size: 16px;color: $black1;line-height: 24px;font-weight: 600;
                @include bp(md-max){font-size: 13.5px; line-height: 20px;}
                @include bp(xxlg-max){line-height: 21px;}
            }
            }
        }
        }
    }
}


/*-----------------improving wellness block-----------*/
.wellness-block{padding: 50px 0;
    @include bp(sm-max){padding: 20px 0;}
    .content{display: flex; margin: 0 -15px;
        @include bp(sm-max){flex-direction: column;}
        .left-block{flex: 0 0 50%;max-width:50%;padding: 0 15px;
            @include bp(sm-max){flex: 0 0 100%; max-width: 100%;}
        h3{ max-width: 400px;
        @include bp(sm-max){max-width: 100%; margin-bottom: 26px;}
        }
        }
        .right-block{margin: -20px 0;flex:0 0 50%; max-width: 50%;display:flex;justify-content:flex-end;padding: 0 15px;
            @include bp(sm-max){flex: 0 0 100%; max-width: 100%;justify-content: flex-start;}
          .text{max-width: 532px;
            @include bp(sm-max){max-width: 100%;}
            p{margin-bottom: 30px;
            @include bp(sm-max){margin-bottom: 15px;}
                    }
        }
    }
}
}

/*=========================RESOURCES-1================================*/
.resource-1-block{padding-top: 12px;
    .content-block{
        .active-nav{
            .sub-nav{padding:50px 10px; background-color: $white; z-index:80;position:sticky; top: 160px;
                @include bp(sm-max){top: 140px;}
                @include bp(xxs-max){top: 194px; padding: 20px 0;}
                ul{display: flex;justify-content: space-between;max-width: 1100px;margin:0 auto;
                    @include bp(sm-max){white-space: nowrap; overflow: auto;padding-bottom: 15px;}
                  .link{padding-bottom: 5px;
                    @include bp(sm-max){padding:0 15px 5px 15px;}
                   
                      a{color: $black1;font-size: 18px;font-weight: bold;
                       @include bp(md-max){font-size: 15px; font-weight: 500;}
                       &:hover{border-bottom: 3px solid $brown;
                    @include bp(md-max){border-bottom: 2px solid $brown;}
                    }
                    }
                    }
                   .active a{color: $brown;}
                }
            }
            .crisis-block{padding: 50px 0;
                @include bp(xs-max){padding: 15px 0;}
                h2{font-size: 36px;color: $black1;text-align: center;
                @include bp(md-max){font-size: 28px;}
                @include bp(xs-max){font-size: 22px;}
                }
                .card-block{padding: 52px 0 0 0;display:flex;flex-wrap:wrap;
                   
                    @include bp(xs-max){padding: 30px 0;}
                    .card{ padding: 0 20px; flex: 0 0 33.33%; max-width: 33.33%;
                    
                        .img-block{background-color: $off-white2;height:327px;display:flex;align-items:center; justify-content: center;margin-bottom:20px;border-radius:6px;
                          @include bp(sm-max){height: 270px;}
                          @include bp(xs-max){height: 216px;}
                            .resource-1{width: 285px;height: 90px;
                            @include bp(lg-max){width: 250px; height: 86px;}
                            @include bp(md-max){width: 180px; height: 74px;}
                        }
                          .resource-2{width: 190px;height: 190px;
                            @include bp(md-max){width: 150px; height:160px;}
                        }
                          .resource-3{width: 270px;height: 147px;
                            @include bp(lg-max){width: 200px; height:120px;}
                        }
                          .resource-4{width: 224px;height: 224px;
                            @include bp(md-max){width: 150px; height:160px;}
                        }
                          .resource-5{width: 215px;height: 167px;
                            @include bp(md-max){width: 150px; height:160px;}
                        }
                          .resource-6{width: 285px;height: 154px;
                            @include bp(lg-max){width: 220px; height:130px;}
                            @include bp(md-max){width: 188px; height: 100px;}
                        }
                          .resource-7{width: 212px;height: 187px;
                            @include bp(md-max){width: 188px; height: 150px;}
                        }
                          .resource-8{width: 285px;height: 154px;
                            @include bp(lg-max){width: 220px; height:130px;}
                            @include bp(md-max){width: 188px; height: 100px;}
                        }
                          .resource-9{width: 232px;height: 102px;
                            @include bp(md-max){width:180px; height:80px;}
                        }
                        }
                        .content-block{max-width: 320px;
                            h4{color: $off-white4;font-size: 14px;margin-bottom:10px;
                                @include bp(md-max){font-size: 12.5px;}
                                @include bp(xs-max){font-size: 11px;}
                            }
                            h3{font-size: 24px;color: $black1;text-decoration: underline;margin: 14px 0;line-height: 36px;
                                @include bp(md-max){font-size: 20px; line-height: 28px;}
                                @include bp(xs-max){font-size: 18px;}
                            }
                            p{font-size: 16px;line-height: 24px;color: $black1;font-weight: 600;
                                @include bp(md-max){font-size: 13.5px; line-height: 20px;}
                            }
                        }
                    }
                    // .below-card{padding-top: 70px;
                    // @include bp(sm-max){padding-top: 0;}
                    // }
                }
            }
            .prevention-block-1{
                .card-block{
                    .card{
                        .img-block{background-color: $light-blue;

                        }
                    }
                }
            }
        }
        
    }
    }



/*=======================RESOURCES-2==================================*/
.resource-2-block{
    // .resource-2-container{max-width: 1500px; padding: 0 20px; margin: 0 auto;
    //     @include bp(xxlg-max){max-width: 1200px;}
    //     @include bp(md-max){padding: 0 15px;}
    .content-block{
        .active-nav{
            .crisis-block{margin: 0 -15px;
               .card-block{
                @include bp(s-max){flex-direction: column;}
                   .card{ flex: 0 0 25%; max-width: 25%; padding: 0 15px 30px 15px;
                    // @include bp(xxlg-max){flex: 0 0 22.47%; max-width: 22.47%;}
                    // @include bp(lg-max){flex: 0 0 28%; max-width: 28%;}
                    // @include bp(md-max){margin: 0 10px 30px 10px ;}
                    // @include bp(sm-max){flex: 0 0 46%; max-width: 46%;}
                    // @include bp(s-max){flex: 100%; max-width: 100%;}
                    
                     .content-block-2{background-color: $off-white2;height:330px;padding: 25px 30px 27px 26px;border-radius:6px;
                        @include bp(xxlg-max){height:360px;}
                        @include bp(lg-max){height: 300px;}
                        @include bp(md-max){height: 330px;padding: 25px 16px 27px 16px;}
                        @include bp(sm-max){height: 270px;}
                        @include bp(s-max){height: 240px;}
                        h4{color: $off-white4;font-size: 14px;margin-bottom:24px;
                            @include bp(md-max){font-size: 11px;margin-bottom: 10px;}
                            @include bp(xs-max){font-size: 10px;}
                        }
                        h3{font-size: 24px;color: $black1;text-decoration: underline;margin: 28px 0 16px 0;;line-height: 36px;
                            @include bp(xxlg-max){font-size: 20px; line-height: 28px;}
                            @include bp(md-max){font-size: 18px; margin:14px 0;}
                        }
                        p{font-size: 16px;line-height: 24px;color: $black1;font-weight: 600;
                            @include bp(md-max){font-size: 13.5px; line-height: 20px;}
                            @include bp(xxlg-max){line-height: 21px;}
                        }
                    }
                    }
                    .below-card{padding-top: 0;
                        }
                  }
                }
            .prevention-block-1{
                .card-block{
                    .card{
                        .content-block-2{background-color: $light-blue;

                        }
                    }
                }
            }    
            }
        }
    }

/*=========================REAL STORIES==============================*/
.real-stories-block{padding-bottom:56px;
    .story-block-1{display: flex;flex-wrap:wrap;justify-content:space-between;padding-top:100px; margin-bottom: 30px;
        @include bp(tablet-max){padding-top: 20px;}
        @include bp(xs-max){flex-direction: column;}
        .story{position: relative; flex: 0 0 50%; max-width: 50%;
            @include bp(xs-max){flex: 0 0 100%; max-width: 100%; margin-bottom: 30px;}
            .content{padding:  0 24px;
                @include bp(xxs-max){padding: 0;}
          .img{position: relative;
              &:before{content: "";position: absolute;top: -24px;left: -24px;width: 501px;height: 330px;background-color:$off-white5; z-index: -1;
              @include bp(lg-max){width: 420px; height: 280px; top: -19px; left: -19px;}
              @include bp(tablet-max){width: 360px; height: 230px;}
              @include bp(md-max){width: 300px; height: 200px;}
              @include bp(sm-max){width: 220px; height: 150px; top: -14px; left: -14px;}
              @include bp(xs-max){width:320px; height: 200px;}
              @include bp(xxs-max){display: none;}
            }
              span{position: absolute;color: $white;bottom:29px;left:31px;font-size: 36px;font-weight: 700;
            @include bp(sm-max){font-size: 22px;}
            }
            }
          .text{
               p{font-size: 16px;line-height: 1.5;color:$black1;padding: 29px 20px;
             @include bp(sm-max){font-size: 13.5px; padding:15px 0;}
             @include bp(xs-max){padding-bottom: 8px;}
            }
               .link{font-size: 16px;font-weight:600;text-decoration: underline;text-align:right;padding:0;
                @include bp(sm-max){font-size: 13.5px;}
                 &:hover{text-decoration: none;}
                 a{color: $brown}
               }
            }
        }
          }
          .story-1{padding-right: 40px;
          @include bp(tablet-max){padding-right:10px;}
          @include bp(xxs-max){padding: 0;}
        }
          .story-2{padding-left: 40px;
            @include bp(tablet-max){padding-left:10px;}
            @include bp(xxs-max){padding: 0;}
        }
        }
    }
    
.real-stories-block2{margin-top: 0;
  .story-block-3{padding-top: 130px;}
}
.real-stories-text{
    .banner-text{justify-content: center;
     p{font-weight: 700;}
    }
}

/*========================WHAT ARE WE DOING BLOCK======================*/
.doing-block{
    .content{
        .left-block{
            h2{font-size: 48px; max-width: 375px;}
        }
        .right-block{
        .text{
            p{margin-bottom: 0;}
        }
        .brown-text{line-height: 28px;}
    }
    }
 .doing-block-1{padding: 99px 0 89px 0;
    }
    .doing-block-2{background-color: $off-white2;
      .content{padding: 90px 0 150px 0;
    }  
     }
}
/*---------------downloads----------------*/
.download-block{padding-bottom: 92px;
    h3{text-align: center;color: $black1;font-size: 32px;}
    .downloads{display: flex;justify-content:center;align-items:baseline;padding-top:50px;
        @include bp(xs-max){flex-direction: column; align-items: center;}
        .data-sheet-block{padding-right: 112px;display:flex; flex-direction: column; align-items: center;
            @include bp(xs-max){padding-right: 0; margin-bottom: 30px;}
           img{width: 135px;height: 165px;margin-bottom: 36px;
           @include bp(sm-max){width: 80px; height: 100px;}
        }
        }
        .scorecard-block{padding-left: 112px;display:flex; flex-direction: column; align-items: center;
            @include bp(xs-max){padding-left: 0;}
            img{width: 145px;height: 137px;margin-bottom: 34px;
                @include bp(sm-max){width: 100px; height: 100px;}
            }
        }
        span{font-size: 21px;color: $black1;font-weight: 700;}
    }
}
.banner-below-text-2{
    .banner-text{
        justify-content: center;
    }
}

/*----------------Learn about partners---------*/
.learn-block{padding-bottom: 125px;
    .content{align-items: center;
    .right-block{
        a{font-weight: 500;}
        p{margin-bottom: 20px;}
    }
  }
}

/*=====================Community headerimages==============*/

.images-section{padding-top: 87px;
    @include bp(tablet-max){padding-top: 40px;}
    @include bp(xxs-max){padding-top: 25px;}
    .img-wrap{padding: 87px 0;
        @include bp(tablet-max){padding: 40px 0;}
        @include bp(xxs-max){padding: 25px 0;}
        &:last-child{padding-bottom: 120px;
        @include bp(tablet-max){padding-bottom: 80px;}
        @include bp(xxs-max){padding-bottom: 50px;}
        }
    .header-img-1{background-image: url("../images/community_img_2.jpg");}
    .header-img-2{background-image: url("../images/community_img_3.jpg");}
    .header-img-3{background-image: url("../images/community_img_4.jpg");}
    .header-img-4{background-image: url("../images/community_img_5.jpg");
        
        
    }
    .header-img-5{background-image: url("../images/community_img_6.jpg");
        .banner-text{max-width:273px;
            @include bp(xxs-max){max-width:188px;}
        }
    }
    .banner-text{max-width: 345px;
        @include bp(xxs-max){max-width:188px;background: #6361616b;text-align: center;}
        h3{color: $white;margin-bottom: 24px;
            @include bp(sm-max){font-size: 28px; line-height: 34px;  font-weight: 600}
            @include bp(xs-max){font-size: 22px; line-height: 28px; margin-bottom:15px;}
        }
        p{color: $white;font-size: 21px;padding: 0; font-weight: 600;
            @include bp(sm-max){font-size: 18px; line-height: 24px; font-weight: 500;}
            @include bp(xs-max){font-size: 15px; line-height: 21px;}
        }
    }
    .banner{ @include bp(tablet-max){min-height: 440px;}
       @include bp(xxs-max){min-height:320px;}
}
}
}