//Break points
@mixin bp($point) {
  $xxxs-max: "(max-width: 374px)";
  $xxs-max: "(max-width: 479px)";
  $s-max: "(max-width: 500px)";
  $xs-max: "(max-width: 575px)";
  $sm-max: "(max-width: 767px)";
  $sm-min: "(min-width: 768px)";
  $md-min: "(min-width: 992px)";
  $md-max: "(max-width: 991px)";  
  $tablet-max: "(max-width: 1024px)";  
  $lg-min: "(min-width: 1200px)";
  $lg-max: "(max-width: 1199px)";
  $llg-max:"(max-width: 1210px)";
  $xlg-max: "(max-width: 1439px)";
  $xxlg-max: "(max-width: 1440px)";
  $xxx-h-min: "(max-height: 480px)";
  $xlarge-max: "(max-width: 1700px)";

  @if $point==llg-max {
    @media #{$llg-max} {
      @content;
    }
  }
  
  @if $point==s-max {
    @media #{$s-max} {
      @content;
    }
  }

  @if $point==md-max {
    @media #{$md-max} {
      @content;
    }
  }
  @else if $point==md-min {
    @media #{$md-min} {
      @content;
    }
  }

  @else if $point==lg-max {
    @media #{$lg-max} {
      @content;
    }
  }

  @else if $point==xlg-max {
    @media #{$xlg-max} {
      @content;
    }
  }
  
  @else if $point==tablet-max {
    @media #{$tablet-max} {
      @content;
    }
  }

  @else if $point==lg-min {
    @media #{$lg-min} {
      @content;
    }
  }
  @else if $point==sm-max {
    @media #{$sm-max} {
      @content;
    }
  } 
  @else if $point==sm-min {
    @media #{$sm-min} {
      @content;
    }
  }
  @else if $point==xs-max {
    @media #{$xs-max} {
      @content;
    }
  }
  @else if $point==xxs-max {
    @media #{$xxs-max} {
      @content;
    }
  }
  @else if $point==xxxs-max {
    @media #{$xxxs-max} {
      @content;
    }
  }
  @else if $point==xxlg-max {
    @media #{$xxlg-max} {
      @content;
    }
  }
  @else if $point==xxx-h-min {
    @media #{$xxx-h-min} {
      @content;
    }
  }
}