* body{
    font-family: 'Open Sans', sans-serif;
}
body, html{height: 100%;}
.wrapper{min-height: 100%;}
section, footer div{overflow: hidden;}

/*---  general css  ---*/
h1{font-size: 68px; line-height: 76px; color:#006137; font-weight: 800;}
h2{font-size: 48px; line-height: 54px; color: #ffff; font-weight: 800;}
h3{font-size: 36px; line-height: 54px; color: #ffff; font-weight: 800;}
h4{font-size: 22px; line-height: 26px;}
h5{font-size: 22px; line-height: 26px; color: #ffff;}
h6{font-size: 16px; line-height: 22px;}
p{font-size: 18px; line-height: 28px; color: #ffff;}
a{display: inline-block;}
.container{ max-width: 1440px; margin: 0 auto; padding: 0 15px;}
i, em{display: block;}
.btn{background: #ffde17; color: #000; font-size: 16px; padding: 14px 26px; font-weight: bold; border-radius: 25px; cursor: pointer;}
.btn:hover{box-shadow: 0px 0px 7px 0px rgb(64, 62, 54);transform: scale(1.02);}

/*============  HOME PAGE  ===========*/

/*---------- Header --------*/
.header{ position: fixed;top:0;left: 0;width: 100%;z-index: 99;}
.header .upper-header{background-color: #006137; padding: 9px 0 8px 0;}
.header .upper-header .content-block{display: flex; justify-content: space-between;}
.header .upper-header .left-block{display: flex; align-items: center;}
.left-block .flag-block{margin-right: 7px;}
.country-name select{ border: none; background-color: transparent; color: #ffff;font-size: 12px;}
.country-name select:focus-visible{outline: none;}
.country-name select option{color: #006137;}
.header .upper-header .right-block, .upper-header .right-block .text-block, .upper-header .text-block .list-block{ display: flex; align-items: center;}
.upper-header .account a, .upper-header .sign-out a{display: flex; align-items: center;}
.upper-header .right-block h6, .upper-header a{color: #ffff; font-size: 12px;}
.right-block .account{margin: 0 23px 0 27px;}
.right-block .account i, .right-block .sign-out i{margin-right: 4px;}
.left-block .country-name{display: flex;}
.upper-header .list-block li, .upper-header .text-block p{font-size: 12px; color: #ffff;margin: 0 3px;}
.upper-header .list-block li::after{content: ""; height: 13px; width: 1px; background-color: #ffff;position: absolute;}
.upper-header .list-block li:last-child::after{display: none;}
.upper-header .list-block li span{margin: 0 4px;}
.upper-header .text-block p{margin: 0;}
.upper-header .flag-block i{width: 20px;}
.upper-header .account i,.upper-header .sign-out i{width: 14px;}
.upper-header .text-block-2{display: flex;}

.header .logo-block{ padding:25px 0; border-bottom: 1px solid #d5dcd8; background-color: white;}
.logo-block .content-block{display: flex; justify-content: center; align-items: center;}
.logo-block a{width: 216px;}

.header .below-header{border-bottom: 2px solid #ffde17;background-color: white;}
.header .below-header .navbar{display: flex; justify-content: center; align-items: center; position: relative; padding-right: 40px;}
.navbar .menu-block .menu-items{display: flex;}
.menu-block .menu-items li a{display: block; padding: 24px 20px 22px 20px; color: #006137; font-size: 18px; font-weight: bold; transition:all 0.3s linear;}
.menu-block .menu-items li a:hover{ background-color:#ffde17}
#menu-bar{display: none;}

.navbar .search {position: absolute; right:0; }
.search .search-btn i{color: #ffff;font-size: 20px;}
.navbar .search .search-btn{width: 40px; height: 40px; background-color: #006137; display: flex; justify-content: center; align-items: center; border-radius: 22px; cursor: pointer;}
.search-model{position: fixed;top:0;left: 0;width:100%;height: 100%;display: none;}
.overlay-model{width: 100%;height: 100%;background-color: rgba(0, 0, 0, 0.456);display: flex;padding-top: 164px;justify-content: center;align-items: flex-start;}
.search-box{display: flex;align-items: flex-start;position: relative;}
.search-box .fa-times{position: absolute;top:-40px;right: -20px;;font-size: 23px;color: white;}
.search-box input{width: 400px;border-radius:14px;padding: 15px 40px 15px 20px;border:2px solid #006137; font-size:16px;}
.search-box input:focus-visible{outline: none;}
.search-box .fa-search{color: #006137;width: 20px;height: 20px;position: absolute;right: 10px;top:17px;}

.fixed-header .logo-block{padding: 20px 0;}
.fixed-header .below-header li a{padding: 16px 20px;}
.fixed-header{box-shadow: 0 0 16px 0 #545454ac;}

/*------ BANNER ------*/
.main-wrap{background-color: #f3f7f5;}
.banner{padding: 30px 0;}
.banner .upper-banner{margin-bottom: 30px;}
.upper-banner p{color: #006137; font-size: 16px; text-transform: uppercase; font-weight: 600;text-align: center;}
.upper-banner .row-block{display: flex; flex-wrap: wrap; align-items: center; margin: 0 -15px;}
.row-block .col-block .col-content{position:relative;display: flex;background-color: #ffff; border-bottom: 2px solid #ffde17; justify-content:center; padding: 10px 10px 10px 80px; align-items: center;min-height:52px;}
.upper-banner .col-block{flex: 0 0 33.33%; max-width: 33.33%; padding: 0 15px;}
.upper-banner .col-block .col-content i{position: absolute; left: 12px;}
.upper-banner .col-block .icon-1{width: 30px;}
.upper-banner .col-block .icon-2{width: 32px; height: 22px;}
.upper-banner .col-block .icon-3{width: 35px; height: 25px;}

.lower-banner .content-block{display: flex;margin: 0 -15px;flex-wrap: wrap;}
.lower-banner .left-block{flex: 0 0 73%; max-width: 73%;padding: 0 15px;}
.lower-banner .left-block .slide .image i img{ object-fit: cover;}
.lower-banner .right-block{flex: 0 0 27%; max-width: 27%;padding: 0 15px;}
.lower-banner .right-block .upper-block{height: calc(50% - 15px);margin-bottom: 30px;}
.lower-banner .right-block .lower-block{height: calc(50% - 15px);}
.lower-banner .right-block:first-child{padding-bottom: 30px;}
.slick-slider,.slick-slider .slick-list,.slick-slider .slick-track,.banner .slide,.banner .slide .image, .banner .slide .image i{height: 100%;}
.lower-banner .slick-next{right:0px;top: 50%; background: #006137;background-image: url(../images/nextlg-arrow.png); background-size: 12px;background-repeat: no-repeat;background-position: center; transform: translate(-50%, -50%);}
.lower-banner .slick-prev{left: 50px;top: 50%; background: #006137;background-image: url(../images/prevlg-arrow.png);background-size: 12px;background-repeat: no-repeat;background-position: center; transform: translate(-50%, -50%);}

/*------ TABS SECTION ------*/
.tabs-block{padding: 30px 0;}
.tabs-block .tabs{padding: 15px 0;}
.tabs-block #tabs-content .text-content{display: flex; margin: 0 -15px;}
.text-content .card-block{flex:0 0 20%; max-width: 20%; padding: 0 15px;}
.text-content .card-block .card-item{background: #ffff; padding:42px 20px; text-align: center;position: relative;}
.card-block .card-item .img-block i{ max-width: 100%; height: 160px;}
.card-block .card-item .img-block img{object-fit: contain;}
.card-block .text-block{padding: 46px 14px 0 14px;}
.card-block .text-block p{font-weight:500; font-size: 16px; line-height: 22px; color: #000;margin-bottom: 15px;}
.card-block .card-item .text-block span:last-child{display: block;}
.card-block .card-item .info-btn{margin-top: 28px;}
.card-block .card-item .overlay{position: absolute; width: 100%;height: 100%;background:#006137db;top: 0;left: 0;bottom: 0;display: flex; justify-content: center; align-items: center;transition: all 0.8s linear;opacity:0; visibility: hidden; cursor: pointer;}
.card-block .card-item:hover .overlay{opacity:1; visibility:visible;}
.card-block .card-item .overlay .fa-eye{color: #006137; background-color: #ffff; font-size: 28px; padding: 10px;border-radius: 39px;}

.tabs #tabs-nav{display: flex; justify-content: center;}
#tabs-nav{margin-bottom: 40px;}
#tabs-nav li{padding: 0 30px;}
#tabs-nav li a{padding: 10px 0px; font-size: 20px; color: black; font-weight: bold; border-bottom: 2px solid transparent; }
#tabs-nav li a:hover{transition: all 0.8s linear; border-bottom: 2px solid #006137;color: #006137;}
#tabs-nav li.active a{border-bottom: 2px solid #006137;color: #006137;}

.right-triangle{ width: 0;  height: 0;border-top: 75px solid #ffde17; border-left: 75px solid transparent; position: absolute; top: 0; right: 0;}
.triangle-block .text{display: inline-block; position: absolute; transform: rotate(45deg); top: 20px; right: 8px; font-size:13.5px; font-weight: 600;line-height: 10px;}
.red-block .right-triangle{ border-top: 75px solid #cf0808;}
.red-block .text{color: #ffff;}
.green-block .text{color: #ffff; top:25px; right: -6px; }
.green-block .right-triangle{border-top: 75px solid #00ad62;}

.tabs-block .load-more-btn{text-align: center;padding: 15px 0;}
.tabs-block .load-more-btn .btn{background-color:white; border: 2px solid #006137; color: #006137;}

/*------ TWO COL SECTION ------*/
.two-col-block{padding: 30px 0;}
.two-col-block .content-block{display: flex; margin: 0 -15px;}
.two-col-block .col-block{padding: 0 15px; flex: 0 0 50%; max-width: 50%;}
.two-col-block .col-block .col-content{border-bottom: 5px solid #ffde17;}
/* .two-col-block .col-block img{object-fit: cover;} */

/*------ SLIDER-2 SECTION ------*/
.slider-section .slick-next, .slider-section .slick-prev{background: white;background-image: url(../images/prelg-arrow-green.png); width:50px;height: 50px; background-size: 12px;background-repeat: no-repeat; background-position: center; border: 2px solid #006137; border-radius: 6px;top:50%;transform: translate(-50%, -50%);}
.slider-section .slick-next:hover , .slider-section .slick-prev:hover{background-color: #006137;background-image: url(../images/prevlg-arrow.png);}
.slider-section .content-block{background-color: #ffff;border-bottom: 5px solid #ffde17;padding: 104px 80px;}
.slider-section{padding: 35px 0;}
.slider-section .slick-next{right: -60px;transform: rotate(180deg);top: 32%;}
.slider-section .slick-prev{left: -34px;}
.slider-section .slider-2 .slick-slide{padding: 0 15px;}
.slider-section .slider-2 .image{height: 100%;display: flex; justify-content: center; align-items: center;}

/*----- ABOUT NQAS -------*/
.about-section{padding: 35px 0 0 0;}
.about-content{background-image: url(../images/ing.png); background-repeat: no-repeat;min-height: 414px; background-color: #206630;background-size: cover;background-position: center;border-bottom: 5px solid #ffde17;}
.about-section h3{color: #ffff;text-align: center; margin-bottom: 29px;}
.about-section .content-block{padding: 69px 0 71px 0; max-width: 868px; margin: 0 auto;}
.about-section p{text-align: center; margin-bottom: 29px;}
.about-section p:last-child{margin-bottom: 0;}

/*------- FOOTER -------*/
.footer{padding: 44px 0;}
.footer .logo-block{display: flex; justify-content: center;margin-bottom: 26px;}
.footer .logo-block a{width: 188px;}
.footer-menu .menu-items{display: flex;justify-content: center;}
.footer-menu .menu-items li a{display: block; padding: 0 20px; color: #006137; font-size: 16px; font-weight:600; transition:all 0.3s linear;}
.footer-menu .menu-items li a:hover{ text-decoration: underline;}

/*=======================  PRODUCT LISTING =====================*/
/*---------- LEFT BLOCK -----------*/
/*----- Heading ------*/
.air-conditioning-block{padding: 30px 0;}
.air-conditioning-block .left-content .top-block ul{display: flex; align-items: center;}
.air-conditioning-block .top-block li a{color: #006137; font-size: 15px; text-transform: uppercase; cursor: pointer;}
.air-conditioning-block .top-block li .active-link{color: #666666;}
.air-conditioning-block .top-block i{width: 16px; height: 10px; margin: 0 6px;}