@media(max-width:1496px){
    .active-nav ul li a{padding: 15px 17px;}
    .time-img img {width: 20px;}
    .cost-block h3{font-size:22px;}
    .active-nav .sub-nav ul li {padding: 0 13.5px;}
}
@media(max-width:1320px){
/*-----------------------HOME PAGE-------------------------------------*/    
.select2-container--default .select2-selection--single .select2-selection__rendered{font-size:16px}

/*--------------------------PROJECT PAGE------------------------------------*/

}

@media(max-width:1024px){
/*-----------------------HOME PAGE-------------------------------------*/ 
.select-block{width:95%}
.select-text .select2-container{height:80px;padding:24px 0}
.select-text .select2-container--default .select2-selection--single .select2-selection__arrow b{top:74%}
.select2-container--default .select2-selection--single .select2-selection__rendered{font-size:20px}
.block-4 button{height:80px;font-size:20px}
.logo img{width:220px}
h4{font-size:16px}
h3{font-size:22px}
.big-text{font-size:17px}

/*--------------------------PROJECT PAGE------------------------------------*/
.left-nav{flex: 0 0 22%;max-width: 22%;}
.link-block{flex: 0 0 78%;max-width: 78%;}
.project .container{padding: 12px 6px;}
ul li a{font-size: 21px;}
.links li{padding: 0 20px;}
.links .link2{padding-left: 22px;}
.login-btn{padding: 7px 29px;font-size: 19px;}
.menulinks{padding-bottom: 27px;}

.project .below-nav, .project .shadow{min-height: 509px;}
.project-banner h1{font-size: 48px;}
.view-photo-block button{padding: 9px 33px;font-size: 20px;}
.project-banner .view-photo-block{right:40px;bottom: 27px;}
.location img{width: 20px;}
.location-img{padding-top: 0;}
.location-name{padding-left: 7px;}
.location-name p{font-size: 32px;}
.image-heading-block img{width: 106px;}
.plan-gap-year{padding-top: 9px;}
.image-heading-block{padding-top: 10px;}
.image-heading-block img{margin-right: 20px;}
.project h3{font-size:33px;margin-top: 10px;}
.info-block{padding-left:5px;padding-top: 25px;max-width: 100%;justify-content: flex-start;}
.payment img, .age-group img{width: 35px;}
.info-block p{font-size: 23px;margin: 0 6px;}
.time img{width:28px;}
.time{padding:  0 22px;}
.active-nav ul li a{padding: 16px 28px;}

.section-1{padding: 41px 0;}
.active-nav .sub-nav{padding-bottom: 41px;}
.section h2{font-size: 41px;margin-bottom: 10px;}
.overview{padding-top: 22px;}
.video-block{padding-bottom: 22px;}
.section h4{font-size: 35px;}
.section p{font-size: 18px;padding: 9.5px 0;}
.field-conditions{padding-top: 28px;padding-bottom:22px;}
.field-conditions p{padding: 3px 0;}
.impact p{padding: 4px 0;}
.impact{padding-bottom: 6px;}
.section-2{padding-bottom: 60px;}
.section-2 h2{padding-top: 34px;}
.section-2 .location-img{padding:6px 0 0 4px;}
.section-2 .location-img img{width: 25px;}
.section-2 .location-text p{padding-left: 6px;font-size: 39px;}
.section-2 .map{padding-top: 32px;}
.map iframe{min-height: 1003px;}

.section-3{padding-top: 57px;}
.cost-block{min-height: 144px;}
.section-3 .col{padding-top: 18px;}
.time-img img{width: 38px;}
.time-text h3, .cost-text h3, .cost-block .price h3{margin-top: 0;}
.duration .select2-container{width: 217px!important;}
.duration .select2-container--default .select2-selection--single{height: 66px;}
.time-text{padding: 4px 19px 0 7px;}
.select-duration{padding-left: 19px;}
.duration .select2-container--default .select2-selection--single .select2-selection__rendered{font-size: 23px;padding: 20px 25px 5px 20px;}
.duration .select2-container--default .select2-selection--single .select2-selection__arrow{top: 13px;right: 9px}
.cost-img img{width: 46px;}
.cost-img{padding: 0 6px 0 20px;}
.cost-text{padding: 0 41px 0 6px;}
.cost-block .price{padding-left: 41px;}
.half-block{height: 106px;}
.inclusion-block{padding-top: 42px;padding-bottom: 24px;}
.inclusion-block .text {padding: 2px 0 2px 24px;}
.inclusion-block h3{font-size: 29px;}
.include-content, .not-include-content{padding: 22px 0 20px 22px;}
.check img{width: 28px;}
.check{padding: 11px 7px;}
.check-text p{font-size: 21.5px;}

.section-4{padding:47px 0;}
.date-text p{padding: 3px 0;}
.date-text{padding-bottom:20px;}
.date-slider{padding-top: 20px;padding-bottom: 27px;}
.month{min-height: 52px;}
.date-day{min-height: 67px;}
.month h5{font-size: 24px;}
.date-day p{font-size: 24px;padding:14px 0;}
.date-day span{font-size: 26px;}
.date-slider .slick-prev, .date-slider .slick-next{right: -3px;top: 7%;}

.section-5{padding-top: 52px;}
.section-5 p{padding: 10px 0;}
.section-5{min-height: 54vh;}

.content-block{flex-direction: column;padding-top:20px;}
.project .heading h2{font-size:40px}
.left-block{flex: 0 0 100%;max-width: 100%;}
.active-nav .sub-nav{top: 146px;}
.active-nav .sub-nav ul li {padding: 0 18.5px;}
.right-block{padding: 0;margin: auto;flex: 0 0 38%;max-width: 38%;}
.view-photo-block{right:30px;}
.below-content .container{max-width: 972px;}
.heading-block{flex-direction: column;padding-bottom: 9px;}
.hidden-text{display: block;}
.active-nav .sub-nav ul{justify-content: space-between;}
.section-1{display: flex;flex-direction: column;}
.video-block{order: 1;}
.overview{order: 2;}
.field-conditions{order: 3;}
.impact{order: 4;}
.play-video, .map iframe, .cost-block, .inclusion-block, .date-slider{max-width: 100%;}
.open-apply-btn{display: block;}
}

@media(max-width:776px){
/*-----------------------HOME PAGE-------------------------------------*/     
h2{font-size:30px;margin-bottom:10px}
.slider-block{padding:22px 0}
.trending-slider{padding-top:42px}
#menu{display:block;height:30px;width:35px;cursor:pointer;padding:4px}
.nav{padding:0;margin:0 20px;transition:1s ease;display:none}
#menu-bar{position:absolute;right:32px;top:50%;transform:translateY(-50%);z-index:20}
.bar{height:4px;width:100%;background-color:#fff;display:block;border-radius:5px;transition:.3s ease;margin-bottom:4px}
.links ul{flex-direction:column}
.open-menu .bar{background-color:#44a9c9}
.open-menu #bar1{transform:translateY(8px) rotateZ(-45deg)}
.open-menu #bar2{opacity:0}
.open-menu #bar3{transform:translateY(-8px) rotate(45deg)}
.nav{width:100%;max-width:400px;position:fixed;top:0;z-index:10;right:-400px;margin:0 auto;display:flex;flex-direction:column;justify-content:center;height:100vh;background-color:#fff}
.open-menu .nav{right:0}
.links ul li a{color:#44a9c9;padding:14px;font-size:16px}
.right-nav button:hover{color:#fff;background-color:#44a9c9}
.right-nav button{color:#44a9c9;border:1px solid #44a9c9;font-size:16px}
.links li,.right-nav{padding:20px}
.links{width:100%}
.open-menu{overflow:hidden}
.fixed-white-header .bar{background-color:#44a9c9}
.logo img{width:180px}
.headings h1{font-size:40px;font-weight:800;max-width:383px;margin:0 auto}
.headings{padding-top:30px}
.headings p{font-size:25px;font-weight:500;max-width:460px;padding:0 15px}
.select-block{flex-direction:column;align-items:center}
.block{display:flex;align-items:center}
.select-text .select2-container{border:none}
.block,.block-4{flex:0 0 100%;max-width:100%;margin-bottom:15px;border-radius:6px}
.block{background-color:#fff;border:1px solid #fff}
.select-text .select2-container{height:40px;padding:8px 56px 8px 0}
.block-4 button{height:40px;font-size:15px;border-radius:6px}
.select2-container--default .select2-selection--single .select2-selection__rendered{font-size:15px;color:#000}
.text span{color:tomato;font-size:13px}
.select-block .text{margin-bottom:0;width:30%}
.select-text{max-width:100%}
.block-1 .select-text{width:300px}
.block-2 .select-text{width:280px}
.block-3 .select-text{width:290px}
.block-4 .select-text{width:333px}
footer{padding:10px 0}
.footer{flex-direction:column}
.footer ul li a{padding:20px 20px 10px 20px}

/*--------------------------PROJECT PAGE------------------------------------*/
.heading h1{text-align: center;}
.view-photo-block button{font-size: 14px;padding: 10px;}
.active-nav .sub-nav ul li{padding: 0;}
.below-content .container{padding: 0 30px;}
.hidden-map-info{display: block;}

.active-nav .sub-nav{top: 130px;}
.project .heading h2, .project h2{font-size: 34px;}
.project h1{font-size: 40px;}
.location-name p, .project h3, .section h4,.section-2 .location-text p{font-size: 28px;}
.hidden-text p,.hidden-text span{font-size: 18px;}
.info-block p, .open-apply-btn button{font-size: 20px;}
.section p{font-size: 15px;}
.duration{flex-direction: column;border: none;}
.cost-block{border: none;}
.duration .select2-container--default .select2-selection--single{border: none;height: 30px;}
.half-block{flex-direction: column;height: 106px;}
.time-img, .time-text, .select-duration,.duration .select2-container--default .select2-selection--single .select2-selection__rendered, .cost-img, .cost-text,.cost-block .price{padding: 0;}
.duration .select2-container{width: 150px !important;text-align: center;}
.select-duration .select2-container--default .select2-selection--single .select2-selection__arrow b{display: none;}

.right-block{flex: 0 0 50%;max-width: 50%;}
.date-slider .slick-prev, .date-slider .slick-next {right: -20px;top: 6%;}
.month h5{font-size: 18px;padding: 14px;}
}

@media(max-width:480px){
    .left-nav {flex: 0 0 50%; max-width:50%;}
    .logo img {width: 192px;}
    #menu-bar {right: 27px;top: 42%;}
    #menu{width:39px;padding: 0px;height: 28px;}
    .bar {height: 4px;margin-bottom:7px;}
    .nav{max-width: 508px;right: -508px;}
    .open-menu #bar3 {transform: translateY(-14px) rotate(45deg);}
    .menulinks {padding-bottom: 24px;padding-top: 6px;}
    .project .below-nav, .project .shadow{min-height: 360px;}
    .project .below-nav{padding-top: 92px;}
    .project .view-photo-block{right: 26px;}
    .view-photo-block button{padding: 10px 28px 10px 28px;font-size: 18px;}
    .view-photo-block img{width: 26px;}
    .view-photo-block i {margin-right: 17px;}

    .below-content .container {padding: 0 24px;}
    .project .heading h2, .project h2{font-size: 37px;margin-bottom: 0;}
    .content-block{padding-top: 50px;}
    .location-name {padding-left: 4px;}
    .hidden-text{padding-top: 6px;}
    .hidden-text p{font-size: 16px;}
    .image-heading-block img {width: 64px;margin-right: 0;}
    .plan-gap-year h3{font-size: 24px;margin-left: 10px;}
    .payment, .time, .age-group{flex-direction: column;align-items: flex-start !important;}
    .payment{max-width: 200px;}
    .info-block{padding-top: 20px;}
    .info-block p{margin: 8px 0;}
    .time {padding: 0 13px;}

    .active-nav{padding-top: 6px;}
    .active-nav .sub-nav {top: 127px;}
    .active-nav ul li a{padding: 10px;font-size: 13px;}
    .section-1{padding: 12px 0;}
    .video-block{padding: 14px 0;}
    .play-video{min-height: 240px;}
    .overview{padding: 0 0 16px 0;}
    .section h4{margin-bottom: 0;font-size: 27px;}
    .section p{font-size: 18px;padding:3px 0;line-height: 1.44;}
    .field-conditions{padding-top: 40px;padding-bottom: 12px;}
   .field-conditions p:last-child{display: none;}
   .impact{padding-top:12px;}
   .impact p:nth-last-child(4){display: none;}

   .section-2{padding:10px 0 32px 0;}
   .section-2 .location-img img{width: 18px;}
   .section-2 .location-img {padding: 12px 0 0 0;}
   .section-2 .location-text{padding-top: 10px;}
   .section-2 .location-text p{font-size: 30px;}
   .section-2 .map{padding: 0;}
   .section-2 .location{padding-bottom: 9px;}
   .map iframe {min-height: 641px;}

   .section-3{padding-top: 44px;}
   .section-3 .col{padding-top: 0;padding-bottom:18px;}
   .time-img img ,.cost-img img{width: 32px;}
   .section-3 h3,.duration .select2-container--default .select2-selection--single .select2-selection__rendered,.cost-block .price{font-size: 26px;}
   .time-text{padding-top:6px;}
   .duration .select2-container--default .select2-selection--single .select2-selection__rendered{padding-top: 4px;}
   .cost-text{padding-top:14px;padding-left: 4px;}
   .inclusion-block{flex-direction: column;padding-top: 0;padding-bottom: 7px;}
   .include-block, .not-include-block { max-width: 100%;flex: 0 0 100%;}
   .border-div{border: none;}
   .inclusion-block h3{margin-top: 0px;font-size: 28px;}
   .inclusion-block .text {padding: 5px 0 9px 24px;}
   .include-content, .not-include-content{padding-top: 14px;}
   .check {padding: 9px 7px;}
   .check-text{padding-top: 5px;}
   .not-include-block .text{margin-left: 0;padding: 16px 0 9px 24px}
   .section-4 {padding: 38px 0;}

   .date-slider{padding-bottom: 13px;}
   .date-day {min-height: 64px;padding: 12px 0;}
   .month h5 {font-size: 21px;}
   .date-slider .slick-prev, .date-slider .slick-next {right: -11px;top: 6%;}
   .date-slider p{font-size: 18px;}
   .date-slider span{font-size: 20px;}

   .section-5 {padding-top: 46px;}
   .section-5, .active-nav, .open-apply-btn{padding-bottom: 65px;}
   .open-apply-btn button{font-size: 26px;max-width: 216px;padding: 0 30px;background-position-x: 181px;}
   .right-block {flex: 0 0 81%;max-width: 81%;}
   footer ul li a{font-size: 14px;}
}
/*--------------------------PROJECT PAGE------------------------------------*/
@media(max-width:426px){
/*-----------------------HOME PAGE-------------------------------------*/     
h2{font-size:28px}
.headings h1{font-size:33px}
.headings p{font-size:20px}
.nav{right:-500px;max-width:500px}
.logo img{width:160px}
.select-block{padding:0 15px}
.active-nav ul{flex-wrap: wrap;}
.active-nav .sub-nav{top: 120px;}
.project p{font-size: 14px;}
.check img{width: 18px;}
.include-content, .not-include-content{padding:5px;}
.project .heading h2, .project h2{font-size:30px;}
.project h1{font-size: 38px;}
.play-video { min-height: 168px;}
.section-2 .location-text p{font-size: 26px;}
.project h3{font-size: 24px;}
.open-apply-btn button{font-size:20px;max-width: 200px;background-position-x:166px;}
.right-block {flex: 0 0 100%;max-width: 100%;}
.section-5{padding-bottom: 0;}
}


