/*======================================COMMON CSS===========================================*/
.flex-block{display:flex;flex-wrap:wrap}
h1{font-size:45px;}
h2{font-size: 33px;color:#44a9c9;}
h3{font-size: 27px;}
span{font-size: 13px;}
h4{font-size:19px;}
p{font-size:15px;}
h1,h4,p{color: #fff;}
a{color: #fff;}
body{font-family:Roboto,sans-serif}
h1,h2,h3,h4,h5,h6,p,ul{margin-bottom: 0;line-height: 1.3;}

/*================================================================HOME PAGE=====================================================*/
/*-----------------------------Header---------------------------------*/

.banner{background-image:url(../images/banner-img.jpg);min-height:724px;background-size:cover;background-position:center;justify-content:center;align-items:center}
.shadow{background-image:url(../images/bg.png);min-height:724px;background-size:cover;background-position:center;justify-content:center;align-items:center}
.wrapper header{position:fixed;width:100%;z-index:6;padding-left: 0;padding-right: 0;}
.menulinks{width:100%;border-bottom:1px solid #fff;padding:10px 9px 17px 9px}
.left-nav{align-items:center;justify-content:space-between;padding-right:20px;flex: 0 0 15%;max-width: 15%;}
.left-nav .links{padding-left: 20px;}
.right-nav{padding-left: 50px;}
.links li{padding:0 15px}
.below-nav .headings p{font-size: 33px;}
a{display:inline-block}
.headings h1{font-weight: bold;}
ul li a{font-size: 16px;padding: 9px;text-transform: uppercase;font-weight: 500;box-shadow: inset 0 0 0 0 #54b3d6;color:#fff;transition: color .3s ease-in-out, box-shadow .3s ease-in-out;}
ul li a:hover{color:#44a9c9;box-shadow: inset 180px 0 0 0 #FFFFFF;text-decoration: none;}
.login-btn{padding:6px 22px;background:0 0;border:1px solid #fff;font-size:14px;border-radius:4px;color: #fff;transition: color .2s ease-in-out}
.login-btn:hover{background-color:#fff;color:#44a9c9;}
.links ul{align-items: center;}
.link-block{flex: 0 0 85%;max-width: 85%;;display: flex;justify-content: space-between;align-items: center;padding-left: 20px;}
.headings p, .headings h1{padding: 15px 0;}
.links .link2{padding-left: 11px;}

/*--------------------------------fixed-header-------------------*/
.fixed-white-header{background-color: white;box-shadow:5px 10px 18px #888888}
.fixed-white-header li a{color: #44a9c9;box-shadow: inset 0 0 0 0 #fff}
.fixed-white-header button{color: #44a9c9;border: 1px solid #44a9c9;}
.fixed-white-header button:hover{background-color: #44a9c9;color: white;}
.fixed-white-header li a:hover{color: #fff;text-decoration: none;box-shadow: inset 180px 0 0 0 #44a9c9}

.below-nav{flex:0 0 100%;max-width:100%;justify-content:end;align-items:center;min-height:660px;flex-direction:column;padding-top:102px}
h2{font-weight:600}
.text span{color: #fff;font-size: 15px;}
.headings{text-align: center;padding-bottom:34px;}
h3{font-weight:700;}
.block-4 .select-text{padding-top: 0px;}
.select-block{display: flex;flex-wrap: wrap;align-items:flex-end;width: 52%;}
.block-1{flex: 0 0 28.5%;max-width: 28.5%;}
.block-2{flex: 0 0 28%;max-width: 28%;}
.block-3{flex: 0 0 28%;max-width: 28%;}
.block-4{flex: 0 0 15.5%;max-width:15.5%;}
.select-text span{font-size: 21px;}
.select-block .text{text-align: center;}
.block-4 button{background:#e53b51;height: 72px;width:100%;border:none;color: white;border: 1px solid white;font-size: 21px;}
.block-4 button:hover{background-color: #eb6274;}
.select-block .text{margin-bottom: 15px;}
.select-text option{color: #000;}
.select2-container--default .select2-selection--single{background: transparent;border: none;}
.select-text .select2-container{width: 100% !important;height:72px;border: 1px solid white;text-align: center;padding: 21px 0;}
.select2-container--default .select2-selection--single .select2-selection__rendered{color: white;}
.select2-container--default .select2-selection--single .select2-selection__arrow{top: 14px;right: -35px;}

.block-2 .select2-container--default .select2-selection--single .select2-selection__arrow{display: none;}
.select-text .select2-container--default .select2-selection--single .select2-selection__arrow b{background-image: url(../images/right-white-arrow.png);background-repeat: no-repeat;border-style: none;
height:20px;width:20px;transform: rotate(90deg);top: 76%;background-size:10px 17px;}
.block-1 .select2-container--default .select2-selection--single .select2-selection__arrow b{left:-39px;}
.block-3 .select2-container--default .select2-selection--single .select2-selection__arrow b{left:-75px;}

.select-text .select2 .select2-container .select2-container--default .select2-container--above .select2-container--focus:focus{border: none;}
.select2-container--default .select2-results__option--highlighted.select2-results__option--selectable{background-color: #e53b51;}

/*---------------------------------------Slider------------------------------------*/
.slider-block{padding: 34px 0;}
h2{margin-bottom:15px;}
.affordable-slider{padding-bottom: 74px;}
.container{max-width: 96%;}
.trending-slider{padding-top: 78px;}
h3{margin-bottom: 10px;}
.below-header{width:96%;margin:0 auto;padding-top:50px}
.slider img{width:100%;height:372px;object-fit: cover;}
.slide{position:relative}
p{margin:0}
h6{font-size: 12px;}
.sub-content{position:absolute;top: auto;bottom:0;left: 0;right: 0;padding: 10px;}
h6,.affordable-slider h3{background:#fff;color:tomato;width:auto;border-radius:6px;padding:3px 10px;display: inline-block;}
.slide-shadow{position:absolute;top:0px;left:0}
h4, h5, h6{margin-bottom: 5px;}
.slick-slide{margin: 0 10px;}
.slick-list{margin: 0 -10px;}
.blue-text{color: #44a9c9;margin-bottom: 14px;}
.headings p{font-size:30px;color: #44a9c9;}
.slider1 h4{text-transform: uppercase;}
.slide .image:hover{transform: scale(1.05); }


.slider2 img{height:206px}
.slider2 h6{background-color:transparent;padding: 0;margin-bottom:14px;font-size: 15px;}
.slider2 h4{margin-bottom: 0px;}
.slider3 h3{font-size: 23px;}
.slider2 .sub-content{padding: 10px 12px;}
.slider2 .slick-prev,.slider2 .slick-next, .slider3 .slick-prev,.slider3 .slick-next{top: 32%;}

.sub-content-2{padding:0 10px}
.slider3 p{margin-bottom: 6px;}
.slider3 .sub-content{bottom:54px;}
.slider3 .sub-content-2{margin-top: 16px;}
.red-text{color:tomato;}
.big-text{font-size: 16px;}
.slider3 .sub-content-2 p{margin-bottom: 5px;}

/*------------------------------Footer----------------------------------*/
footer{background-color:#595656;padding: 20px 0;}
.footer{justify-content:space-between;align-items:center;}
.footer img{width:172px}
.footer ul{margin-bottom:0}
footer .container{max-width: 94%;}
footer ul li a{padding:20px 8px;box-shadow: none;}
footer ul li a:hover{text-decoration:underline;background-color:transparent;color: white;box-shadow: none;}


/*=============================================================PROJECT PAGE=============================================*/
/*-----------------------------Header----------------*/
.project-banner{background-image:url(../images/banner3.jpg);min-height:300px;background-size:cover;background-position:center;justify-content:center;align-items:center;position: relative;}
.project .below-nav{justify-content:center;min-height:352px;}
.project .shadow{min-height:400px;}
.project-banner h1{font-weight: 800;font-size: 43px;}
.view-photo-block{position:absolute;bottom: 20px;left: 27px;}
.view-photo-block button{padding:15px 24px;border: none;background-color: #f5f4f4;color: #44a9c9;border-radius: 6px;font-size:19px;}
.view-photo-block i{margin-right: 12px;}
.view-photo-block button:hover{background-color: #44a9c9;color: #fff;}
.container{padding-left: 0;padding-right: 0;}
.navbar{padding-left:2px;padding-right:2px;}
.logo img{width: 202px;}

/*---------------------------Below header------------------*/
.content-block{padding-top: 45px;}
.project .heading h2{font-size: 30px;}
.right-block{text-align: center;}
.below-content .container{max-width:1244px;}
.location p{color: #e53b51;font-size: 24px;}
.heading-block{justify-content: space-between;}
.left-block{flex: 0 0 64.4%;max-width: 64.4%;}
.right-block{flex: 0 0 35.4%;max-width: 35.4%;}
.col{padding:15px 0;}
.plan-gap-year, .image-heading-block{padding-top: 0px;padding-bottom: 10px;}
.location img{width:15px;}
.hidden-text p{color: #595656;font-size:20px;}
.hidden-text span{color: #44a9c9;font-size:19px;}
.hidden-text{display: none;}

.image-heading-block img{width: 84px;border: 1px solid grey;margin-right: 10px;}
.project h3{color: #44a9c9;font-size: 26px;margin-bottom: 0;}
.plan-gap-year p{color: #595656;}
.project .info-block{justify-content: space-between;max-width:64%;}
.info-block i{margin-right:6px;}
.payment img, .age-group img{width: 25px;}
.payment p{font-size: 17px;}

.active-nav .sub-nav {position: sticky;top:102px;z-index:5;padding-bottom:24px;}
.active-nav{padding-top: 0px;padding-bottom: 0;}
.active-nav .sub-nav ul{background-color: #FFFFFF;border-top: 1px solid #c8c8c8;}
.active-nav .sub-nav ul li{padding: 0 10px;}
.active-nav a{color: #44a9c9;text-decoration: none;font-size: 16px;padding: 11px 33.5px;}
.active-nav a:hover{color: rgb(214, 36, 48);}
.active-nav li:hover{background-color: #f7d3d8;}
.section{min-height: 70vh;border-bottom:1px solid gray;padding: 24px 0;}
.active{background-color: #e53b51;}
.active a{color: #fff;}
.section p{padding: 5px 0;color: #000;font-size: 14px;line-height: 1.5;}
.section h2{font-size: 30px;}
.section h4{font-size: 23px;}
.overview,.field-conditions, .impact{padding-top: 6px;padding-bottom: 22px;}
.impact{padding-top: 22px;}
.field-conditions{padding-top: 22px;}
.active-nav ul{flex-wrap: nowrap;}

.section h4,.section-2 p{color: #e53b51;}
.play-video{width:100%;max-width:789px;min-height: 400px;}
.map iframe{width:100%;max-width:789px;min-height: 492px;}
.section-2 h2{padding-top: 10px;}
.video-block{padding-top: 30px;}
.active-nav .col{padding: 10px 0 24px 0;}
.section-2 .location-text p{font-size:24px;padding: 0 0 0 10px;}
.section-2 .location{padding-bottom: 15px;}
.section-2 .map{padding-top: 15px;}
.section-2{padding-bottom: 30px;}
.section-3{padding-top: 30px;}
.section-2 .hidden-map-info p{font-size: 18px;}
.section-2 h5{font-size:18px;}
.map-info1 h5, .map-info1 p, .map-info3 h5{color: #e53b51;}
.section-2 h6{color: #595656;padding-left:0; font-size: 14px;}
.map-info2 h5, .map-info2 p{color: #44a9c9;}
.map-info1, .map-info2{border-bottom: 1px solid gray;}
.map-info3 img{width: 38px;}
.map-info1 img{width: 36px;}
.section-2 .text{padding: 4px 10px;}
.hidden-map-info{max-width:400px;margin: 0 auto;padding-top:8px;display: none;}
.map-info1, .map-info2, .map-info3{padding: 12px 0 0px 0;flex-wrap: nowrap;}
.hidden-map-info h5, .hidden-map-info p, .hidden-map-info h6{font-family: auto;}
.hidden-map-info h5{font-size: 23px;margin-bottom: 0;}
.hidden-map-info h6{font-size: 17px;}
.map-info2{padding-top: 26px ;padding-bottom: 2px;}
.map-info2 img{width: 32px;}
.map-info2 .text{padding: 5px 15px;}
.map-info3{padding-top: 27px;}

.cost-block{border: 1px solid gray;min-height:114px;align-items: center;flex-wrap: nowrap;max-width: 789px;width: 100%;}
.inclusion-block{padding-top: 30px;max-width:786px;width: 100%;}
.duration{border-right: 1px solid gray}
.half-block{flex: 0 0 50%;max-width: 50%;align-items: center;height:74px;}
.duration .select2-container--default .select2-selection--single .select2-selection__rendered{color: #595656;padding:13px 25px 5px 16px;font-size: 18px;}
.duration .select2-container--default .select2-selection--single .select2-selection__arrow{top: 8px;right:4px;}
.duration .select2-container--default .select2-selection--single{border: 1px solid #595656;height:50px;}
.cost-block h3{font-size: 25px;}
.time-img img{width: 30px;}
.cost-img img{width: 36px;}
.duration .select2-container{width: 188px!important;max-width: 100%;}
.time-img{padding: 4px 5px 0 30px;}
.cost-img{padding: 0 5px 0 30px;}
.time-text{padding: 4px 10px 0 5px;}
.select-duration{padding: 0 0 0 10px;}
.cost-text{padding: 0 30px 0 1px;}
.cost-block .price{padding:0 0 0 40px;}
.cost-block .price h3{color: #e53b51;font-weight: 400;}
.select-duration .select2-container--default .select2-selection--single .select2-selection__arrow b{background-image: url(../images/admin-arrow.png);background-repeat: no-repeat;border-style: none;width:20px;height:20px;;left:-33px;top:78%;}
.inclusion-block h3{margin-bottom: 0;color: #fff;font-size: 23px;}
.include-block, .not-include-block{flex: 0 0 50%;max-width: 50%;}
.not-include-block .text{background-color: #e53b51;}
.check img{width:18px;}
.check{padding: 4px 7px;}
.check-text{color:#888888;}
.include-content, .not-include-content{padding: 10px 0 20px 50px;}
.border-div{border-right: 1px solid #888888;}
.inclusion-block .text{min-height: 42px;padding: 4px 0 4px 58px;}
.include-block .text{background-color: #44a9c9;}
.not-include-block .text{background-color: #e53b51;}
.not-include-block .text{margin-left: 2px;}
.project .slick-next, .project .slick-prev{background-size: 10px;}

.date-day span{font-size: 19px;color: #e53b51;font-weight: 800;padding-right: 4px;}
.month{background-color: #44a9c9;text-align: center;min-height:42px;margin: 0 1px 0 0;}
.month h5{color: #fff;padding: 8px;font-size:21px;margin-bottom: 0;}
.date-day p{color: #44a9c9;font-size: 16px;text-align: center;}
.date-slider .slick-slide{margin: 0;}
.date-day{min-height:42px;border-bottom: 1px solid gray;}
.date-day:last-child{border-bottom: none;}
.day-block{border: 1px solid gray}
.day-block:last-child{border-right: none;}
.date-slider .slick-list{margin: 0;}
.date-slider .slick-prev, .date-slider .slick-next{background-image: url(../images/right-white-arrow.png);top: 3%;}
.date-slider .slick-next{right: -14px;transform: rotate(360deg);}
.date-slider .slick-prev{left: -14px;transform: rotate(180deg);}
.date-text{padding-bottom: 5px;padding-top: 8px;}
.date-slider{padding-top: 15px;padding-bottom: 13px;max-width: 787px;width: 100%;}
.section-5{border-bottom: none;padding-top:32px;padding-bottom:14px;}

/*---------------------------------------Right-block-------------------------------*/
.apply-block{background-color: #44a9c9;min-height:380px;position: sticky;top: 104px;z-index:4;padding: 30px 30px 12px 30px;text-align: initial;}
.right-block .select-duration{padding: 0;}
.right-block{padding: 0 0 30px 48px;width: 100%;}
.right-block .select2-container{border: 1px solid white;background: white;max-width: 334px;min-height:50px;border-radius: 5px;width: 100% !important ;}
.apply-block .select2-container--default .select2-selection--single .select2-selection__arrow{top:3px}
.apply-block .select2-container--default .select2-selection--single .select2-selection__rendered{color:#595656;font-size: 18px;text-align: initial;padding-top:10px;padding-left: 14px;}
.apply-btn button{max-width:334px;background-color: #e53b51;color: #fff;border: none;min-height:50px; border-radius: 5px;cursor: pointer;width: 100%;}
.apply-btn button:hover{background-color: #f7d3d8;;color:rgb(214, 36, 48)}
.apply-btn{padding-top:24px;}
.apply-text{background-color: #68bdd6;max-width:290px;}
.apply-text p{padding: 3px 10px;font-size: 16px;}
.apply-text span{font-weight: 700;font-size: 16px;}
.date-picker h5, .time-text h5{font-size: 16px;color: #fff;}
.plain-text{background:none;max-width: 334px;}
.plain-text p{padding: 10px 0;font-size: 14px;}
.plain-text a{text-decoration: underline;}
.date-picker{padding: 12px 0 4px 0;}
.input-group > .custom-file, .input-group > .custom-select, .input-group > .form-control{flex: 0 0 100%;padding-left:48px;}
.input-group > .form-control:not(:first-child){border-radius:5px;}
.date-picker .input-group-addon{position: absolute;top:12px;left:17px;z-index: 6;}
.date-picker .datepicker .datepicker-dropdown{width:18%;}
.date-picker .datepicker td, .datepicker th{padding:0 13.5px;}
.date-picker .input-group{height:50px;max-width: 330px;width: 100%;}
.datepicker table tr td.day.focused, .datepicker table tr td.day:hover{background: #e53b51 !important;color: white;border-radius: 20px;}
.datepicker .datepicker-switch:hover, .datepicker .next:hover, .datepicker .prev:hover, .datepicker tfoot tr th:hover{background: #e53b51 !important;color: white}
.datepicker td, .datepicker th {border-radius: 20px;}
.datepicker-months,.datepicker-years{padding: 6px 52px !important;}


.open-apply-btn{text-align: center;padding: 20px 0;display: none;}
.open-apply-btn button{border: none;background-color: #e53b51;color: #fff;max-width:222px;width: 100%;border-radius:7px;min-height: 55px;background-image: url(../images/up-white-arrow.png);background-repeat: no-repeat;background-position: right;background-position-x:185px;padding: 0 39px;text-align: start;font-size: 24px;}

/*============================================CONTACT PAGE==================================================*/
.contact .banner{background-image:url(../images/contact-banner.jpg);min-height:400px;background-size:cover;background-position:center;justify-content:center;align-items:center;position: relative;}
.contact .below-nav{min-height: 400px;justify-content: center;}
.contact .shadow{min-height: 400px;}
.contact .navbar {padding-left: 12px;padding-right: 12px;}
.contact h1{font-size: 40px;font-weight: bolder;}

.contact .para p{color: #595656;font-size: 19px;line-height: 28px;}
.contact .content-block .container{max-width: 92%;}
.contact .contact-form .container{max-width: 920px;}
.send-btn button{color: #fff;background-color: #e53b51;border: none;padding: 12px 42px;}
.send-btn button:hover{background-color: #eb6274;transform: scale(1.05)}
.contact .content-block{padding: 40px 0 72px 0;}
.contact .block{padding: 18px 0 26px 0;}
.send-btn{text-align: center;}
.contact .send-btn{padding-top: 0px;justify-content: center;}
.contact .contact-form{padding-bottom: 16px;}
.contact .form-control{border: 1px solid black;font-size: 18px;}
.contact .col .form-control{padding: 10px 19px}
.contact .col-12 .form-control{min-height: 295px;justify-content: center;display: flex;align-items: center;}
.contact-form .form-block{padding-right: 5px;}
.contact-form .form-block:nth-child(2){padding-left: 5px;padding-right: 0;}
.contact-form .col-12{padding: 0;}
.contact-form .form-control:focus{box-shadow:0 0 0 1px rgba(67, 67, 67, 0.25);}
.contact-form .row{width: 100%;margin-left: 0;margin-right: 0;}
.contact-form .row .form-block{flex: 0 0 50%;max-width: 50%;}

/*===========================================FAQ PAGE======================================================*/
.faq .banner{background-image:url(../images/faq-banner.jpg);min-height:400px;background-size:cover;background-position:center;justify-content:center;align-items:center;position: relative;}
.faq .below-nav{min-height: 400px;justify-content: center;}
.faq .shadow{min-height: 400px;}

#accordion .card .card-link{position: relative;display: block;color: #44a9c9;font-size:28px;font-weight: bold;letter-spacing: 0.5px;padding-right: 40px;}
#accordion .card-body p{color:#7e7d7d;font-size: 21px;margin-bottom: 15px;line-height: 34px;}
#accordion .card .card-link i{position: absolute;right: 0px;top: 4px;width: 40px;height: 40px;}
#accordion .card .card-link i img{width: 100%;}
#accordion .card .card-link .is-active{transform: rotate(180deg);}
#accordion .card .card-link img{width: 42px;}
#accordion .card-header{background-color:transparent;padding: 5px;border: none;}
#accordion .card-body{padding: 0px 105px 0px 5px;}
#accordion .card{border:none;border-bottom: 1px solid #7e7d7d;padding: 27px 0;}
.faq-block .container{max-width:62%;padding-left: 15px;padding-right: 15px;}
#accordion .collapsed img{transform: rotate(180deg);}

/*==============================================WORK PAGE===================================================*/
.work .banner{background-image:url(../images/banner2.jpg);min-height:722px;background-size:cover;background-position:center;justify-content:center;align-items:center;position: relative;}
.work .below-nav{min-height:700px;justify-content: center;}
.work .shadow{min-height:722px;}
.work .below-nav{flex-direction: row;flex: 0 0 80%;margin: auto;max-width: 80%;}
.header-block{flex:0 0 59%;max-width: 59%;padding: 0 15px;}
.watch-video-block{flex:  0 0 41%;max-width: 41%;margin-top: 15px;}
.work h1{font-size: 48px;font-weight: bold;margin-bottom:42px;}
.header-block .text p{font-size: 33px;color: #44a9c9;line-height: 38px;}
.watch-video-block button{background-color: #e53b51;border: none;border: 1px solid #fff;border-radius:13px;display: flex;align-items: center;padding: 2px 68px 2px 20px;}
.watch-video-block button p{font-size: 40px;color: white;padding-left: 51px;}
.watch-video-block button:hover{transform: scale(1.015);background-color:#da1831;}
.watch-video-block button img{width:70px}
.work .text{max-width: 650px;}

.work-block .container {max-width: 1464px;margin: 0 auto;padding: 0 15px;}
.work-block{position: relative;padding: 46px 0 64px 0;overflow: hidden;}
.work-block h2{font-size: 48px;font-weight: 500;text-align: center;}
.work-block .heading h3{color: #e53b51;font-size: 33px;margin-bottom: 23px;}
.work-block p{color: #7e7d7d;font-size: 22.5px;}
.work-block .text-block1 p{color: #44a9c9;}
.work-block .number span{background-color: #e53b51;width: 124px;height:126px;border-radius:50%;display: flex;justify-content: center;align-items: center;font-size:90px;font-weight: bolder;color: #FFFFFF;}
.line1{position: absolute;top:286px;}
.line2{position:absolute;top: 0;top: 1226px;left: 346px}
.line3{position: absolute;bottom: 874px;left: 220px;}
.email-img{position: absolute;top: 868px;left: 108px}
.right-img-block{position: absolute;}
.work-block .content-block{padding: 24px 0 100px 0;}
.head-block .heading{padding-top: 38px;margin-left: 24px;padding-bottom: 36px;}
.work-block .content{padding-left: 149px;margin-top: -34px;}
.content-block .main-text{margin-bottom: 36px;}
.sub-content-1 .text-block1{letter-spacing: -0.99px;padding-right: 30px;}
.sub-content-1  .text-block2{padding-left: 30px;}
.work .content p{margin-bottom: 4px;}
.apply-now-block .right-img-block{right:0;top: 144px;}
.news-block .right-img-block{top:1224px;right: 0;}
.work-block .sub-content-1{flex-wrap: nowrap;}

.work-block .apply-now-block{padding: 113px 0;margin-left: 308px;}
.apply-now-block .text-block1 p{width: 30px;background-color: #44a9c9;color: #FFFFFF;text-align: center;border-radius:20px;margin-bottom: 5px;}
.apply-now-block .text-block1{padding-right: 0;}
.apply-now-block .text-block2{margin-left: 5px;padding-left: 0;}
.apply-now-block .sub-content-1{margin: 0 0 34px 24px}
.apply-now-block .text-block2 p{margin-bottom: 5px;}
.apply-now-block .sub-content-2{background-color: #dfdfdf;max-width: 752px;padding: 0 15px;margin: 0 -15px;}
.apply-now-block .sub-content-2 p{font-size: 18px;font-style: italic;}

.work-block .news-block{padding-top:280px;}
.news-block .heading h3{margin-bottom: 28px;}
.news-block .heading p:nth-child(2){margin-bottom: 14px;}
.news-block .text-block1 p{width: 40px;background-color: #44a9c9;color: #FFFFFF;display: flex;align-items: center;justify-content: center;border-radius:20px;margin-bottom:55px;font-size: 30px;}
.news-block .text-block1{padding-right: 0;}
.news-block .text-block2{margin-left: 10px;padding-left: 0;}
.news-block .sub-content-1{margin-left: 10px;}
.news-block .head-block .heading{padding-bottom: 31px;}
.news-block .text-block2 p{margin: 4px 0 40px 0;}
.news-block .sub-content-2 p{color: #44a9c9;font-weight: bold;}
.news-block .main-text{margin-bottom: 30px;}
.news-block .main-text p{margin-bottom:15px;}

.work-block .trip-block{padding-top: 120px;margin-left: 412px;padding-bottom: 200px;}
.trip-block .text-block1{padding-right: 0;}
.trip-block .content{margin-top: -37px;}
.trip-block .main-text{margin-bottom: 40px;}
.trip-block .text-block1 p{margin-bottom: 6px;}
.trip-block .text-block2 p{margin-bottom: 9px;}
.trip-block .text-block1 img{width: 30px;height: 30px;}
.trip-block .text-block2{margin-left: 14px;padding-left: 0;}
.trip-block .sub-content-1{margin: 0 0 30px 11px;}
.trip-block .head-block .heading{padding-bottom: 37px;}
.trip-block .sub-content-2 p{color: #44a9c9;font-weight: 600;}
.trip-block .right-img-block{bottom:195px;left: 0;}
.work .hidden-img{display: none;}

.journey-btn button{border: none;background-color: #e53b51;font-size:33px;color: #FFFFFF;font-weight:bold;padding: 16px 52px;border-radius:20px;}
.journey-btn{text-align: center;padding: 76px 0 0 0;}
.journey-btn button:hover{transform: scale(1.015);background-color: #da1831;box-shadow: 0px 0px 8px 3px #b5b5b5b5;}
