// Core Bootstrap Files
@import "webfonts/font.css";
// Vendor
// @import "node_modules/bootstrap/scss/bootstrap";
@import "vendor/vendor";
@import "vendor/dropkick.css";
@import "vendor/slick.css";
@import "vendor/slick-theme.css";
@import "vendor/font-awesome.min.css";
// @import "vendor/bootstrap.min.css";

// Base
@import "base/colors";
@import "base/break-points";
@import "base/mixins";
@import "base/layout";
// Modules
// @import "modules/accordion";
// Component
@import "components/form-element";
@import "components/header";
@import "components/footer";
@import "./components/banner";
@import "components/style";
